@(header: Html)(endPoints: List[EndPoint])
    
@if(endPoints.length > 0) {

  @header
<ul class="unstyled endpoint_list">
  @for(endPoint <- endPoints) {
    <li class="endpoint" id="@endPoint.id">
      <a href="#" class="hide_resources icon-chevron-down"></a>
      <a href="@routes.CtrlEndPoint.get(endPoint.id)">@endPoint.label</a>
      @vendpoint.followIcon(endPoint, "eplist") 
      <ul class="resource_list">
      @Resource.getByEndPoint(endPoint).map { resource =>
<!--            <li> -->
<!--            <a href="@routes.CtrlResource.get(resource.id)">@resource.path</a> -->
<!--             @vresource.followIcon(resource, "eplist") -->
<!--             @if(resource.lastUpdated != 0) { -->
<!--             <span class="sideinfo">[updated @Utils.timeStr((Utils.currentTime()-resource.lastUpdated)) ago]</span> -->
<!--             } -->
<!--             @if(resource.pollingPeriod != 0) { -->
<!--             <span class="sideinfo">[polled every @Utils.timeStr(resource.pollingPeriod)]</span> -->
<!--             } -->
<!--            </li> -->
        <li>
          <a href="@routes.CtrlResource.get(resource.id)">@resource.path</a> 
          @vresource.resourceToolbar(resource, true, resource.isShare(CtrlUser.getUser()), resource.isPublicAccess())
        </li>
       }
      </ul>
   </li>
  }
</ul>

}
