@(header: Html)(endPoints: List[EndPoint])
    
@if(endPoints.length > 0) {

  @header
    
	<ul>
	  @for(endPoint <- endPoints) {
	    <li>
	      <a href="@routes.CtrlEndPoint.get(endPoint.id)">@endPoint.getUser().userName/@endPoint.label</a> @vendpoint.followIcon(endPoint, "eplist")
	        <ul>
	          @Resource.getByEndPoint(endPoint).map { resource =>
	              <li>
	              <a href="@routes.CtrlResource.get(resource.id)">@resource.path</a>
	              @vresource.followIcon(resource, "eplist")
                @if(resource.lastUpdated != 0) {
                 <span class="sideinfo">[updated @Utils.timeStr((Utils.currentTime()-resource.lastUpdated)) ago]</span>
                 }
                 @if(resource.pollingPeriod != 0) {
                 <span class="sideinfo">[polled every @Utils.timeStr(resource.pollingPeriod)]</span>
                 }
	              </li>
	           }  
	      </ul>
	    </li>
	  }
	</ul>
	
}
