@(user: User, userForm: Form[User])

@import helper._
@import com.feth.play.module.pa.views.html._

@displayUser(user: User) = {
@if(userForm != null) {
<span class="logged"><a href="@routes.CtrlUser.get()">[Cancel]</a></span>
} else {
<span class="logged"><a href="@routes.CtrlUser.edit()">[Edit]</a></span>
}

   @forms.form(routes.CtrlUser.submit()) {
	    <dt>Mail</dt>
	    <dd>@user.email</dd>
	    @forms.input(userForm!=null, "text", "userName", "User name", user.userName)
	    @forms.input(userForm!=null, "text", "firstName", "First name", user.firstName)
	    @forms.input(userForm!=null, "text", "lastName", "Last name", user.lastName)
	    @forms.input(userForm!=null, "text", "location", "Location", user.location)
	    @if(userForm!=null) { @forms.submit(userForm!=null, "Update") }
  }
  
}

@layout("Account", session) {
  

@currentAuth() { auth =>
    Logged in with provider '@auth.getProvider()' and the user ID '@auth.getId()'<br/>
    Your session expires
    @if(auth.expires() == -1){
        never
    } else {
        at @auth.expires() (UNIX timestamp)
    }
    @if(auth != null) {
        <a href="@com.feth.play.module.pa.controllers.routes.Authenticate.logout">Logout</a>
    }
}
  
  @displayUser(user)
}
