@(vfiles : List[Vfile], path : String)
@upPathLoc={@Vfile.extractUpperLevelPath(path)}
	<table class="table table-hover " id="fileTableBody">
  <!--caption>File view</caption-->
  <thead>
    <tr>
      <!-- th>Select</th -->
      <th class="span3">Label</th>
			<th class="span5"></th>
			<th class="span4">Modified</th>
    </tr>
  </thead>
  <tbody id="folder=@path">
	<tr><td><i class="icon-folder-close"></i><a class="folder-list-button" id="UP_ID" data-folderpath="@upPathLoc/" href="#folder=@upPathLoc/"> [UP] @path</a></td>
		<td><!--[Folder tools]--></td>
		<td>-</td>    	
	</tr>
	@if(vfiles.length > 0) {
		@for(vfile <- vfiles) {
			@if(vfile != null) {					
  	  <tr>
    	  <!-- td><input type="checkbox" name="file_name" value="file.path"/></td -->
				@if(vfile.getType() == Vfile.Filetype.FILE) { 
					@if(vfile.getLink() != null) {
					<td><a href="@routes.Application.viewStream(vfile.getLink().id)"><i class="icon-file"></i> @vfile.getName()</a></td>
					<td>@vstream.includeStream(vfile.getLink(), false, false)</td>
					<td>@controllers.Utils.dateFormatter( vfile.getLink().lastUpdated )</td>
					} else {
					<td><i class="icon-file"></i> @vfile.getName()</td>
					<td>No stream attached...</td>
					<td>-</td>
					}
				} else {
					<td><i class="icon-folder-close"></i><a class="folder-list-button" id="ID@vfile.getPath()" data-folderpath="@vfile.getPath()/" href="#folder=@vfile.getPath()/"> @vfile.getName()</a></td>
					<td><!--[Folder tools]--></td>
					<td>-</td>
				}
    	</tr>
    	}
    }
	} else {
		<tr> 
      	<td>No files available! Start generating files and streams</td>
      	<td><a href="@routes.CtrlResource.resources()">Resources page</a></td>
				<td></td>
 	 </tr>
	}
  </tbody>
</table>
	