body { color: #222; font-family: arial, sans-serif; font-size: 12pt; }
h1, h2, h3, h4 { color: #444; }
h1 { font-size: 1.7em; text-align: center; }
h2 { font-size: 1.3em; }
h3 { font-size: 1.2em; }

a img { border-width: 0px; }
p { margin: 0 0 0.5em 0; }
ul { margin: 0 0 0 2em; padding: 0; }
dl { margin: 0; }
dl dt { font-weight: bold; margin: 0 1em 0 0; }
a { text-decoration: none; color: #00a; }
a:hover { color: #000; }
code { background: #fbfbfb; color: #666; font-family: inconsolata, monospace;
	border: 1px solid #ddd; border-radius: 3px; height: 4px; padding: 0; }
  
#content { width: 1024px; margin: 0 auto; padding: 1em; background-color: #fbfbfb;
	border: 4px solid #aaa; border-radius: 20px;}
