@(stream: Stream, displayHeader: Boolean =true, displayOverview: Boolean =true, displayPlot: Boolean =true, displayToolbar: Boolean =true)

@WIN_5M() = {5*60*1000}
@WIN_30M() = {30*60*1000}
@WIN_1H() = {60*60*1000}
@WIN_1D() = {24*60*60*1000}
@WIN_1W() = {7*24*60*60*1000}
@WIN_1M() = {30*24*60*60*1000}
@WIN_1Y() = {365*24*60*60*1000}



@if(stream != null) {
<div id="streamblock@{stream.id}">
@if(stream.hasData() && stream.canRead(Secured.getCurrentUser())) {
<div class="stream_header_block @if(!displayHeader){hidden}">
	<div id="streamtitle@{stream.id}" class="streamtitle">
		<br />
		@if(stream.file.getPath()!="" && stream.file.getPath()!=null ) {
			Stream
		} else { 
			Unnamed Stream
		}
		<a href="@routes.Application.viewStream(stream.id)" data-toggle="tooltip" title="id : @{stream.id}">@if(stream.file != null) {@stream.file.getPath()} else {id: @{stream.id}}</a>
		@if(stream.resource != null && stream.canWrite(Secured.getCurrentUser())) {
			(<a href="@routes.CtrlResource.getById(stream.resource.id)">@{stream.resource.label}</a>)
		}
		@if(stream.owner.userName!=Secured.getCurrentUser().userName) {
		owner: <a href="/accounts/@stream.owner.userName">@stream.owner.userName</a>
		}
		@if(displayToolbar){
		<span class="pull-right">@vstream.streamToolbar(stream, stream.canWrite(Secured.getCurrentUser()), false, stream.publicAccess || stream.publicSearch)</span>
		}
		</div>
		<div class="row-fluid controls controls-row">
		@**Show key?**@
		@if(stream.showKey(Secured.getCurrentUser())!=null) {
			@if(stream.owner.id==Secured.getCurrentUser().id) {
			<button class="span2 btn btn-danger btn-small streamRegenerateKey" id="streamRegenerateKey@{stream.id}" data-streamId="@{stream.id}" data-toggle="tooltip" title="Click to generate a new key if compromised"><i class="icon-refresh icon-white"></i> Regenerate key</button>
			}	
			<input class="span8" type="text" id="streamKey@{stream.id}" name="keyUrl" value="@sicsthSenseURL()@{routes.CtrlStream.postByKey(stream.showKey(Secured.getCurrentUser()))}" readonly="readonly">
		}	
		<!--
	<span id="streamconfig@{stream.id}" class="span3 form-inline pull-right">
	    <input type="radio" name="streamwindow@{stream.id}" value="@WIN_5M" id="streamwindow@{stream.id}-1"><label for="streamwindow@{stream.id}-1">5min</label>
	    <input type="radio" name="streamwindow@{stream.id}" value="@WIN_1H" id="streamwindow@{stream.id}-3"><label for="streamwindow@{stream.id}-3">1h</label>
	    <input type="radio" name="streamwindow@{stream.id}" value="@WIN_1D" id="streamwindow@{stream.id}-4"><label for="streamwindow@{stream.id}-4">1d</label>
	    <input type="radio" name="streamwindow@{stream.id}" value="@WIN_1M" id="streamwindow@{stream.id}-6"><label for="streamwindow@{stream.id}-6">1m</label>
	</span>
-->
</div>
	</div>	
@if(displayOverview || displayPlot){
<div id="@{stream.id}" style="height: 250px; min-width: 500px"></div>
<script>
$(function() {
	var host = document.location.hostname;
	var url = "http://"+host+":8080/users/1/resources/1/streams/@{stream.id}/data?limit=1000";
	$.getJSON(url, function(data) {
		//console.log("got json!" +data);

    var options = {
        chart: {
            renderTo: 'container'
        },
        xAxis: {
            type:'datetime'
        },
				scrollbar : { enabled : false },
        series: [{
				name: "Series",
				data: [],
						type : 'area',
						fillColor : {
							linearGradient : { x1: 0, y1: 0, x2: 0, y2: 1 },
							stops : [[0, 'rgba(76,120,230,0.3)'], [1, 'rgba(10,10,20,0.05)']]
						}
				}]
    };

    $.each(data, function (i, item) {
        options.series[0].data.push([item.timestamp,item.value]);    
    });
    
    //console.log(options);
		$('#@{stream.id}').highcharts('StockChart', options);
	});
});

</script>
<!--
	<div class="plot-container">
		<div class="row-fluid">
			<div class="@if(!displayOverview){span12}else{span9} @if(!displayPlot){hidden}">
				<div id="streamplot@{stream.id}" stream_id="@{stream.id}" class="streamplot"></div>
			</div>
			<div class="@if(!displayOverview){hidden}else{span3}">
				<div id="overview@{stream.id}" stream_id="@{stream.id}" class="streamplot_overview"></div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		// one global JavaScript object per stream
		var streamplot@{stream.id} = new Object();
		streamplot@{stream.id}.stream_id = '@{stream.id}';
		streamplot@{stream.id}.id = 'streamplot@{stream.id}';
		streamplot@{stream.id}.uri = '@{routes.CtrlStream.getDataById(stream.id)}';
		streamplot@{stream.id}.path = '@{stream.file.getPath()}'; // for parsing the returned JSON
		streamplot@{stream.id}.window = @WIN_1D; // in ms
		streamplot@{stream.id}.since = parseInt(((new Date()).getTime() - streamplot@{stream.id}.window)); // in s for database
		streamplot@{stream.id}.points = [];
		streamplot@{stream.id}.timeout = null;
		//streamplot@{stream.id}.overview = new Object();
		//streamplot@{stream.id}.overview.plotID = @{stream.id};
		$(function () {
			// init Flot plot
			streamplot@{stream.id}.plot = $.plot($("#streamplot@{stream.id}"), [ streamplot@{stream.id}.points ], StreamPlots.options);
			streamplot@{stream.id}.overview = $.plot($("#overview@{stream.id}"), [ streamplot@{stream.id}.points ], StreamPlots.overview_options);
			
			// setup config form
			$("input:radio[name='streamwindow@{stream.id}']").filter('[value="@WIN_1D"]').attr('checked', true);
			$("input:radio[name='streamwindow@{stream.id}']").change( function(){
				StreamPlots.setWindow(streamplot@{stream.id}, eval($("input:radio[name='streamwindow@{stream.id}']:checked").val()) ); });
			StreamPlots.setup(streamplot@{stream.id});
			// start polling
			StreamPlots.poll(streamplot@{stream.id});
		});
	</script>
	-->
	}
	} else {
	@if(displayHeader){
		<div id="streamtitle@{stream.id}" class="streamtitle">
			Stream 
			@if( stream.canRead(Secured.getCurrentUser()) ) {
			<a href="@routes.Application.viewStream(stream.id)">@if(stream.file != null) {@stream.file.getPath()} else {id: @{stream.id}}</a>
			} else {
			<span>@if(stream.file != null) {@stream.file.getPath()} else {id: @{stream.id}}</span>
			}
@*		@if(stream.owner.userName!=Secured.getCurrentUser().userName) {
			owner: <a href="/accounts/@stream.owner.userName">@stream.owner.userName</a>
		} *@
			@if(displayToolbar){
				<span class="pull-right">@vstream.streamToolbar(stream, stream.canWrite(Secured.getCurrentUser()), false, stream.publicAccess || stream.publicSearch)</span>
			}
		</div>
		@**Show key?**@
		@if(stream.showKey(Secured.getCurrentUser())!=null) {
			<div class="row-fluid controls controls-row">
			@if(stream.owner.id==Secured.getCurrentUser().id) {
			<button class="span2 btn btn-danger btn-small streamRegenerateKey" id="streamRegenerateKey@{stream.id}" data-streamId="@{stream.id}"><i class="icon-refresh icon-white"></i> Regenerate key</button>
			}	
			<input class="span10" type="text" id="streamKey@{stream.id}" name="keyUrl" value="@sicsthSenseURL()@{routes.CtrlStream.postByKey(stream.showKey(Secured.getCurrentUser()))}" readonly="readonly">
		</div>
		}	
		<div class="streamNoDataLine">
		 <span style="color: #888; padding-left: 10px;">No data currently available.</span>
		</div>
	}
	}
	</div>
}
<br />
