@(followedStreams: List[Stream], lastUpdatedStreams: List[Stream], message: String="")

@import helper._

@layout("Home", message, session) {
<div class="row-fluid">
    <!-- Docs nav
    ================================================== -->
	<div class="span2 bs-docs-sidebar">
		<h4></h4>
<div style="position:fixed;" >
		<ul class="unstyled">
			<!--<li><span href="#" id="showHidePlotsButton" data-nextTitle="Show graphs" class="btn btn-lnk">Hide graphs</span></li>-->
		</ul>
	  </div>
	  </div>

  <div id="mainPane" class="span9">
		<!--Body content-->
		<!-- Stream listing and visualizing -->
		<legend>Starred streams</legend>
		@if(followedStreams.length > 0) {
			@for(stream <- followedStreams) {					
				@vstream.includeStream(stream)
				<hr class="dashed" />
			}
		} else {
			You have not starred any streams! 
			<br />
			<br />
			Add some of your own Resource's to this Home page through the <a href="@routes.CtrlResource.resources()">Resources page</a>, alternatively find public Streams, both in the <a href="/streams">Streams</a> page.
			<br />
			<br />
		}
		@if(lastUpdatedStreams.length > 0) {
			<section>
				<br \>
				<br \>
			<legend>Public streams</legend>
			@for(stream <- lastUpdatedStreams) {					
				@vstream.includeStream(stream)				
			}
			</section>
		}
    </div>
  </div>
}
