@(message: String="")

@import helper._

@layout("Log In", message, null) {

<div class="row-fluid">
	<div class="span1 bs-docs-sidebar">
	</div>
	  <div id="mainPane" class="span9">

		<br />
       <legend>Welcome to SicsthSense!</legend>
		SicsthSense is a new cloud platform that makes connecting sensors, actuators, smart phones and online services easier than ever. Through this new platform, users can gather their sensor data, share it in a secure way, look for other’s data and interact with any Internet connected objects or services.
		<br />
		<br />
		SicsthSense is an open cloud platform for the Internet of Things.
		SicsthSense enables low power devices such as sensor nodes and smartphones
		to easily store their generated data in the cloud. This allows streams of
		data, and their history, to be made permanently and globally available to
		users for visualisation, processing and sharing. Moving sensor data
		computation and monitoring into the cloud enables centralisation of control
		and redistribution of collected data.
		<br />
		<br />
		This website represents our public instance of the service, you can however
		download and run your own private instance. <a href="http://docs.sense.sics.se">Full details of how to interact
		with our platform, how to run your own instance and even Contiki/Android code for
		programming devices to store data in SicsthSense is available</a>.
		<br />
		<br />
		To use this public instance, please sign in below:
		<br />
		<br />
		@if(Application.canOpenIDLogin()) {
    <!-- Simple OpenID Selector -->
    <form action="@routes.Login.authenticate("")" method="get" id="openid_form">
      <input type="hidden" name="action" value="verify" />
      <fieldset>
        <legend>Sign-in with OpenID</legend>
        <div id="openid_choice">
          <p>Please click your OpenID account provider:</p>
          <div id="openid_btns"></div>
        </div>
        <div id="openid_input_area">
          <input id="openid_identifier" name="openid_identifier" type="url" required placeholder="Your OpenID" />
          <input id="openid_submit" type="submit" value="Log in" class="buttonLG"/>
        </div>
          <p>OpenID is service that allows you to sign in to many different websites using a single identity.
          Find out <a href="http://openid.net/what/">more about OpenID</a> and <a href="http://openid.net/get/">how to get an OpenID enabled account</a>.</p>
      </fieldset>
    </form>    
		}
		<br />
		@if(Application.canPasswordLogin()) {
		@helper.form(action = routes.Login.authenticatePassword("","","")) {
      <input type="hidden" name="action" value="verify" />
      <fieldset>
				<legend><b>Sign in with Password</b></legend>
				<dt>Username</dt>
				<dd><input type="text" name="username" value="" /></dd>

				<dt>Password</dt>
				<dd><input type="password" name="password" value="" /></dd>
				<dt></dt>
				<dd>
				<input class="btn btn-primary" type="submit" name="signtype" value="Sign in" /> 
				&nbsp;
				&nbsp;
				or 
				&nbsp;
				&nbsp;
				<input class="btn" type="submit" name="signtype" value="Sign up" /> 
			</dd>
			</fieldset>
		}
		}
		<br />
		<br />
		<br />

	</div>
	</div>
}
