@(resources: List[Resource], myForm: Form[SkeletonResource],streams : List[Stream], autoParserForm: Boolean, message: String="")

@import helper._
@import helper.twitterBootstrap._

@tbField(field: Field, label: String, className: String="", typeName: String ="text", readOnly: Boolean = false, placeHolder: String = "", required: Boolean = false, value: String=null) = {
	@if(field != null) {
	@if(label != null && label != "") { 
		<div class="control-group">
			<label class="control-label" for="@field.id">@label</label>
			<div class="controls">
				<input class="@className" type="@typeName" id="@field.id" name="@field.name" value=@if(value!=null){"@value"}else{"@field.value"} placeholder="@placeHolder" @if(readOnly){ readonly }  @if(required){ required } />
			</div>
		</div>
		} else {
		<input class="@className" type="@typeName" id="@field.id" name="@field.name" value=@if(value!=null){"@value"}else{"@field.value"} placeholder="@placeHolder" @if(readOnly){ readonly } @if(required){ required } />
		}
	}
}

@title = {
	@if(autoParserForm) {
		Resource '@myForm("label").value'
	} else {
		Resource '@myForm("label").value'
	}
}
@keyUrl = { @sicsthSenseURL()@{routes.CtrlResource.postByKey(myForm("key").value)} }
@key = {@{myForm("key").value}}
@apiUrl = { @sicsthSenseURL() ":8080/users/1/resources/1/streams/" }

@resourceFormAction = @{
		routes.CtrlResource.modify(myForm("id").value.toLong)
}
@resourceFormId = @{
"modify_resource_form"
}
@parentResource = @{Resource.get(myForm("id").value.toLong, Secured.getCurrentUser()).parent}
@thisResource = @{Resource.get(myForm("id").value.toLong, Secured.getCurrentUser())}

@helpMark(text: String, apiLocation: String="") = {
<a href="@routes.Public.about()#@apiLocation" class="helptooltip" data-toggle="tooltip" title="@text"><i class="icon-question-sign"></i></a>
}

@numberOfParsers = @{myForm("streamParserWrapers").indexes().length}

@streamParserGroupLabels(hidden: Boolean, className: String = "") = {
<div class="@if(hidden){hidden} row-fluid @className controls controls-row streamParsersLabels">
<span class="span3" for="@{myForm("streamParserWrapers")("inputParser").id}">Parser (JSON/Regex) @helpMark("Regex for text input or JSON node path for JSON input","postingDataHelp")</span>
<span class="span3" for="@{myForm("streamParserWrapers")("timeformat").id}">Date/Time format @helpMark("Required if extracting timestamp information along with data","parserHelp")</span>
<span class="span2" for="@{myForm("streamParserWrapers")("inputType").id}">Content-type @helpMark("Internet media type for incoming data","parserHelp")</span>
<span class="span3" for="@{myForm("streamParserWrapers")("vfilePath").id}">Stream name @helpMark("Path for generated stream","postingDataHelp")</span>
</div>
<div class="@if(!hidden){hidden} streamParsersLabelsAddParserText">
Click <a class="addParser btn-link "><span class="icon-plus icon-white"></span></a> to add parsers.
</div>
}

@streamParserGroup(field: Field, className: String = "", modifyStreamPath: Boolean = true, deleteParser: Boolean = false) = {
<div class="row-fluid parser controls controls-row @className" data-parserId="@{field("parserId").value}">
<input form="@resourceFormId" type="hidden" id="@field("parserId").id" name="@field("parserId").name" value="@field("parserId").value" readonly="readonly" size="0">
<input form="@resourceFormId" class="span3" type="text" id="@field("inputParser").id" name="@field("inputParser").name" value="@field("inputParser").value" placeholder="expression or /jsonnode/name">
<input form="@resourceFormId" class="span3" type="text" id="@field("timeformat").id" name="@field("timeformat").name" value="@field("timeformat").value" placeholder="fill in if posting timestamps">
  <select form="@resourceFormId" class="span2" id="@field("inputType").id" name="@field("inputType").name" selected="@field("inputType").value">
  	<option value=""></option>
		<option value="application/json" @if(field("inputType").value.toString.contains("json")){selected="selected"}>application/json</option>
    <option value="text/plain" @if(field("inputType").value.toString.contains("text")){ selected="selected" }>text/plain</option>
  </select>
<input form="@resourceFormId" class="span3 resourceStreamPath" type="text" required id="@field("vfilePath").id" name="@field("vfilePath").name" value="@field("vfilePath").value" @if(!modifyStreamPath){ readonly } else { placeholder="Stream path"}>
	<i class="removeParser btn btn-danger pull-right" data-delete="false" @if(deleteParser){data-parserId="@{field("parserId").value}"}else{data-parserId="-1"}><span class="icon-trash icon-white"></span></i>
@*<input form="@resourceFormId" type="text" id="@field("inputType").id" name="@field("inputType").name" value="@field("inputType").value" placeholder="Input type">*@
</div>
}

@layout("Resources", message, session) {

    <!-- Docs nav
    ================================================== -->
    <div class="row-fluid">
      <div class="span2 bs-docs-sidebar">
			@manage.navigationMenu(resources) 
			<script type="text/javascript">
			$('#resourcelist-sidenav').find('[data-resourceId="'+@myForm("id").value+'"]').addClass('selectedResourceListItem');
			</script>
			@**
			should pass theses parameters(resources, extStreams)
			**@
      </div>
      <div id="mainPane" class="span9">

<!-- Modal confirmDeleteResource -->
<div id="confirmDeleteResourceModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteResourceModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="confirmDeleteResourceModalLabel">Delete Resource?</h3>
  </div>
  <div class="modal-body">
    <p>Deleting the resource implies deleting all the associated parsers and sub resources (if any).</p>
    <p>Are you sure you want to delete the resource?</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">No, go back</button>
		<a href="@routes.CtrlResource.delete(myForm("id").value.toLong)" class="btn btn-danger"><i class="icon-trash icon-white"></i> Yes, delete everything</a>
  </div>
</div>
 	      <!--Body content-->
	      <!-- TODO: handle errors-->
	      @if(myForm.hasErrors) {
	      <div class="alert-message error">
		      <p><strong>Oops</strong> Please fix all errors</p>
	      </div>
	      }
	      
  <h1>@title</h1>
     
	@helper.form(action = resourceFormAction, 'id -> resourceFormId) {
	      <fieldset>
		      <legend>Parameters
						<span class="pull-right">
						@if(!autoParserForm) {
						<span class="btn-group">	
							<a href="#confirmDeleteResourceModal" role="button" class="btn btn-danger btn-small" data-toggle="modal"><i class="icon-trash icon-white"></i> Delete</a>
						</span>
						}
						<span class="btn-group">	
							<a href="@routes.CtrlResource.resources()" class="btn btn-small"><i class="icon-remove"></i></a>
							<button type="submit" name="update" class="btn btn-primary btn-small" id="updateResource" form="@resourceFormId"><i class="icon-ok icon-white"></i> Save</button>
	      		</span>
						</span>
					</legend>
					<div class="row-fluid controls controls-row">
						<label class="span2" for="@myForm("label").id">Label</label>
						@if(parentResource != null) {
						<label class="span4" for="ParentUrl@myForm("id").value">Parent [<a href="@routes.CtrlResource.getById(parentResource.id)">@parentResource.label</a>]</label>
						<label class="span3" for="@myForm("pollingUrl").id">Resource sub-path @helpMark("The path to access this subresource under the parent URI","pollingDataHelp")</label>
						} else {
						<label class="span8" for="@myForm("pollingUrl").id">External URI to poll @helpMark("Public address. Suppoted protocols: coap:// and http://","pollingDataHelp")</label>
						}
						<label class="span2" for="@myForm("pollingPeriod").id">Polling period (s) @helpMark("Minimum polling period is 120s","pollingDataHelp")</label>
					</div>
					<div class="row-fluid controls controls-row">
						<input type="hidden" id="myForm("id").id" name="@myForm("id").name" value="@myForm("id").value" readonly="readonly" size="0">
						<input class="span2" type="text" required id="@myForm("label").id" name="@myForm("label").name" value="@myForm("label").value" placeholder="Resource label">
						@** Is this a sub-resource? **@
						@if(parentResource != null) {
						<input class="span4" type="url" id="ParentUrl@myForm("id").value" name="ParentUrl" value="@parentResource.getUrl()" placeholder="ParentUrl!" readonly>
						<input class="span3" type="text" id="@myForm("pollingUrl").id" name="@myForm("pollingUrl").name" value="@myForm("pollingUrl").value" placeholder="Type an URL to enable polling!">
						} else {
						<input class="span8" type="url" id="@myForm("pollingUrl").id" name="@myForm("pollingUrl").name" value="@myForm("pollingUrl").value" placeholder="Type an URL to enable polling!">
						}
						<input class="span2" type="number" id="@myForm("pollingPeriod").id" name="@myForm("pollingPeriod").name" value="@myForm("pollingPeriod").value" placeholder="0">
					</div>
			@if(!autoParserForm) {
				<div class="row-fluid controls controls-row">
					<label class="span2" for="@{myForm("id").value}apiURL">API URL @helpMark("The URL in the API used to interact with this resource","apiHelp")</label>
					<input class="span8" type="text" id="@{myForm("id").value}apiURL" name="apiUrl" value="@sicsthSenseURL():8080@thisResource.getHierarchy()" readonly>
				</div>
				<div class="row-fluid controls controls-row">
					<label class="span2" for="@{myForm("id").value}Key">Key @helpMark("The hash/URI used to identify this resource","keyHelp")</label>
					<input class="span8" type="text" id="@{myForm("id").value}Key" name="key" value="@key" readonly>
					<button class="span2 btn btn-danger resourceRegenerateKey" id="resourceRegenerateKey@myForm("id").value" data-resourceId="@myForm("id").value" data-toggle="tooltip" title="Click to generate a new key if compromised"><i class="icon-refresh icon-white"></i> Regenerate</button>
				</div>

				<div class="row-fluid">
					<b><a href="@sicsthSenseURL():8080@{thisResource.getHierarchy()}?key=@{thisResource.getKey()}">Resource's API representation</a></b>
				</div>
				<br />

				<div class="row-fluid controls controls-row">
				<label class="span2" for="@myForm("description").id">Description</label>
				<textarea class="span10" wrap="soft" id="@myForm("description").id" name="@myForm("description").name" value="" placeholder="Resource description..." >@myForm("description").value</textarea>
				</div>
				<br />
			} 
				</fieldset>
			<!-- end modify resource-->
  }
  
	@if(!autoParserForm) {
		@interactWithResource(myForm("id").value.toLong, thisResource.getUrl())
	}
	<br />	
	<!-- Parsers -->

<fieldset>
		      <legend>Data Parsers 
<span class="pull-right">
<a class="addParser btn btn-success btn-small"><span class="icon-plus icon-white"></span></a>
</span></legend>
		      <div id="parsers" resourceId="@myForm("id").value">
						
						@streamParserGroupLabels(numberOfParsers <= 0)
			      @repeat(myForm("streamParserWrapers"), min=0) { spw =>
			        @streamParserGroup(spw, className="", modifyStreamPath= autoParserForm, deleteParser= !autoParserForm)
			      }
						
			      @**
			      * Keep an hidden block that will be used as template for Javascript copy code
			      **@
						<div class="parsers_template">
			      	@streamParserGroup( myForm("streamParserWrapers[x]"), className = "", modifyStreamPath=true, deleteParser=false )
			      </div>
		      </div>

				<br />
				@helper.form(action = routes.CtrlResource.autoParser(myForm("id").value.toLong)) {
				<input type="submit" class="btn btn-success" value="Auto add parsers">
				}
	      </fieldset>
				<br />


	<!--Body content-->
	<!-- Stream listing and visualizing -->
	@if(streams.length > 0) {
		<h3>Resource Streams</h3>
		@for(stream <- streams) {
			<br />
			@vstream.includeStream(stream)
			<br />
		}
	} else {
		No streams contained! Add some Resource's to your dashboard through the <a href="/resources">Resources page</a>.
	}
	<br /> <br />

  <!-- Log view --->
	     @if(!autoParserForm) {
  			<br /><br />
				@logViewPage(ResourceLog.getByResource(Resource.get(myForm("id").value.toLong, Secured.getCurrentUser()), false),"Log of last post")
				@logViewPage(ResourceLog.getByResource(Resource.get(myForm("id").value.toLong, Secured.getCurrentUser()), true),"Log of last poll")
			}
			
  </div>
  
</div>

}
