@(resources : List[Resource], myForm : Form[Resource], page: Integer=0, message: String="")
@import helper._

@tbField(field: Field, label: String, className: String="", typeName: String ="text", readOnly: Boolean = false, placeHolder: String = "", required: Boolean = false, value: String=null) = {
	@if(field != null) {
	@if(label != null && label != "") { 
		<div class="control-group">
			<label class="control-label" for="@field.id">@label</label>
			<div class="controls">
				<input class="@className" type="@typeName" id="@field.id" name="@field.name" value=@if(value!=null){"@value"}else{"@field.value"} placeholder="@placeHolder" @if(readOnly){ readonly }  @if(required){ required } />
			</div>
		</div>
		} else {
		<input class="@className" type="@typeName" id="@field.id" name="@field.name" value=@if(value!=null){"@value"}else{"@field.value"} placeholder="@placeHolder" @if(readOnly){ readonly } @if(required){ required } />
		}
	}
}
	
@layout("Resources", message, session) {

    <!-- Docs nav
    ================================================== -->
	<div class="row-fluid">
  	<div class="span2 bs-docs-sidebar" >
			@** should pass theses parameters(resources, extStreams) **@
			@manage.navigationMenu(resources) 
    </div>

    <div id="mainPane" class="span9">
		<!--Body content-->

	<!-- Small add resource form -->
<div class="row-fluid">
	@helper.form(action = routes.CtrlResource.addSimple(), 'class -> "controls-row") {
	<fieldset>
		<legend>Add a new resource</legend>
		@tbField(myForm("id"), "", "", "hidden")
		@* @tbField(myForm("label"), "", "span5", "text", false, "Resource label", true) *@
		<input class="span5" type="text" id="label" name="label" value="" placeholder="Resource label" onkeypress="return alphanum(event)"  required  />
		@tbField(myForm("pollingUrl"), "", "span5", "url", false, "Resource URI (optional)")
		<input type="submit" class="span2 btn btn-primary addResourceQuick" value="Add">
	 </fieldset>
  }

	@if(resources.length > 0) {
	<br />
	<div class="row-fluid ">
		<legend>Your resources</legend>
		<div class="row-fluid ">
	 		<div class="controls-row " >
			<fieldset>
				<div id="resourcelist-full">
			@for(resource <- resources) {
				<h4><a href="@routes.CtrlResource.getById(resource.id)">@resource.label&nbsp<i class="icon-wrench"></i></a></h4>
				<div class="row-fluid">
				 <label class="span2" for="@{myForm("id").value}apiURL">API URL </label>
				 <input class="span10" type="text" id="@{myForm("id").value}KeyURL" name="apiUrl" value="@sicsthSenseURL():8080@resource.getHierarchy()" readonly>
				</div>
				@if(resource.getUrl() != "" && resource.getUrl() != null) {
				<div class="row-fluid"><span class="span1">URI</span><input class="span11" type="url" id="@{resource.id}URL" name="ResourceURL" value="@resource.getUrl()" readonly></div>
				<div class="row-fluid"><span class="span1">Proxy</span><span class="span11">@interactWithResource(resource.id,resource.getUrl(),showHeader=false)</span></div>
				}
				<br />
				<hr class="dashed" />
			} 
				</div>
			<fieldset>
		</div></div>
	</div>
	<br />
		<ul class="pager">
			<lh><b>Page @{page}&nbsp;&nbsp;</b> </lh>
			@if(page>0) {
			<li><a href="/resources?p=@{page-1}">Previous</a></li>
			} else {
			<li><a>Previous</a></li>
			}
			@if(CtrlResource.listResourcesLength() <= (page+1)*CtrlResource.pageSize) {
				<li><a>Next</a></li>
			} else {
				<li><a href="/resources?p=@{page+1}">Next</a></li>
			}
		</ul>
	<br />
	}
</div></div></div>
}
