@(msg: String)
@import helper._

@showFollowed(endPoints: List[EndPoint], resources: List[Resource]) = {

  @vendpoint.list{<h1>End points you follow</h1>}(CtrlUser.getUser().followedEndPoints())

  @vresource.listStreams{<h1>Resources you follow</h1>}(CtrlUser.getUser().followedResources())
  
  @if(endPoints.size == 0 && resources.size == 0) {
    You don't follow any end point nor resource yet. <a href="@routes.Application.search()">Search</a> public resources or <a href="@routes.Application.manage()">add yours</a> to get started!<p/>
  }
}

@layout("Error!", session) {
	<div class="alert alert-block alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Error!</strong>@msg
  </div>
     
  @showFollowed(CtrlUser.getUser().followedEndPoints(), CtrlUser.getUser().followedResources()) 

}
