@(endPoints: List[EndPoint])

@import helper._

@layout("Manage", session) {
 
  <h1>Register new device</h1>
 
   @helper.form(action = routes.CtrlEndPoint.add()) {
    <dl>
      <input input type="text" name="label" required placeholder="Label of the device" class="inputL" />
      <input input type="url" name="url" placeholder="Publically reachable URL (optional)" class="inputL" />
      <input type="submit" value="Register" class="buttonLG"/>
    </dl>
  }
  
  <br />
  @vendpoint.list{<h1>Your end points</h1>}(endPoints)
  <br />
  @vresource.listStreams{<h1>Your resources</h1>}(Resource.getByUser(CtrlUser.getUser()))
  <br />
  @vlabel.list{<h1>Your labels</h1>}(User.getLabelsByUser(CtrlUser.getUser()))
  <br /> <br /> <br />
}
