@import helper._

@layout("About", null) {

  <h1>Posting data to Sics<sup>th</sup>Sense</h1>
  
  You can post data to Sics<sup>th</sup>Sense's database at the following URL:
  <pre>
  http://sense.sics.se/stream/[user]/[device]/[path]</pre>
  
  [more details on the format must be added here]
  [some text on polling must be added]

  <h1>Getting data from Sics<sup>th</sup>Sense</h1>
  
  You can fetch data from Sics<sup>th</sup>Sense's database through a <code>GET</code> at the following URI:
  <pre>
  http://sense.sics.se/stream/[user]/[device]/[path]</pre>
  
  URI arguments allow to get a subset of the dataset. Use <code>?tail=n</code> to get the <code>n</code> most recent samples Use <code>?last=t</code>
  to get samples posted during the last <code>t</code> seconds. Use <code>?since=t</code> to get the samples posted since (including) absolute UNIX time <code>t</code> (in seconds).
  
  <h1>Accessing devices through Sics<sup>th</sup>Sense</h1>
  
  Sics<sup>th</sup>Sense can act as a RESTful proxy towards any public device. This allows yu to share your devices without making their URI public.
  Just <code>GET</code>, <code>POST</code>, <code>PUT</code> or <code>DELETE</code> to: 
  
  <pre>
  http://sense.sics.se/proxy/[user]/[device]/[path]</pre>
  
  <h1>Resource discovery</h1>
  
  Devices can provide a description of the resources they offer. This description must be hosted at <code>/discover</code>, and have the following format:
  
  <pre>
  {
    "uid": "uid",
    "resources": [
      "/sensors/temperature",
      "/sensors/energy"
    ]
  }</pre> 
 
}
