@import helper._

@layout("About", session) {
 
  <h1>A simple cloud-centric registration process</h1>
  
  Resource discovery is simple. Register your thing by providing its URL e.g.: <code>http://{ip of your Thing}</code>.
  You can then configure your things, add resources to it, etc.<br/>
  
  Sics<sup>th</sup>Sense also supports a simple device discovery mechanism.
  To enable it, your Thing simply needs to provide a Json self-description hosted at <code>/discover</code>, following the following format (or any subset of it):<br/>
  <pre>
  {
    "uid": "uid",
    "resources": [
      "/sensors/temperature",
      "/sensors/energy"
    ]
  }</pre> 

  <p/>
 
}
