@(vfiles : List[Vfile], path: String="/", message: String=" ")

@import helper._
@import logic.StreamDrive

@layout("Streams", message, session) {

    <!-- Docs nav
    ================================================== -->
	<div class="row-fluid">
		<div class="span2 bs-docs-sidebar">
				<div id="vfileTree">
					<ul class="unstyled"><li class=''><i class='icon-hdd hideRoot'></i> <span class='dirNode selectedFile' data-filepath=''>Drive</span>
						<ul class="folderNodeUL">@Html(StreamDrive.listHTMLFileSystem(Secured.getCurrentUser()))</ul>
					</li></ul>
				</div>
  	</div>

  <div id="mainPane" class="span9">

		<!--Body content-->
		@filesUtils.listDir(vfiles, path)

		<br /> <br />

    </div>
  </div>

}
