@()(implicit session: Session)

@layout("Help") {
 
  <h1>A simple cloud-centric registration process</h1>
  
  Resource discovery is simple. Register your thing by providing its URL e.g.: <code>http://{ip of your Thing}</code>.
  You can then configure your things, add resources to it, etc.<br/>
  
  Sics<sup>th</sup>Sense also supports a simple device discovery mechanism.
  To enable it, your Thing simply needs to provide a Json self-description hosted at <code>/discover</code>, following the following format (or any subset of it):<br/>
  <pre>
  {
    "uid": "uid",
    "resources": [
      "/sensors/temperature",
      "/sensors/energy"
    ]
  }</pre> 

  <p/>
  
  <h1>Registration through a simple RESTful API</h1>
    
  We also provide a RESTful API for those who want to script registration operations:
  <dl>
    <dt><code>POST /rest/things/register?url={thingUrl}</code></dt>
    <dd>Register a Thing with and URL <code>{thingUrl}</code>. Returns the unique Thing identifier.</dd>
    <dt><code>DELETE /rest/things/{thingId}</code></dt>
    <dd>Delete Thing with identifier <code>{thingId}</code></dd>
  </dl>
  </p>
}