@layout("Help") {
 
  <h1>A simple cloud-centric registration process</h1>
  
  Resource discovery is simple. Register your thing by providing its URL e.g.: <code>http://{ip of your Thing}</code>.
  Sics<sup>th</sup>Sense will discover the device by requesting <code>/discover</code>, where provides a Json self-description with the following format:<br/>
  <pre>
  {
    "description": "a description",
    "resources": [
      "/sensors/temperature",
      "/sensors/energy"
    ]
  }</pre> 
  If your device doesn't provide such self-description, that's no problem. You'll just have to specify manually the description and list of resources you want to interact with.
  
  Your Thing is ready to use.
  
  <p/>
  
  <h1>Registration through a simple RESTful API</h1>
    
  We also provide a RESTful API for those who want to script registration operations:
  <dl>
    <dt><code>POST /rest/things/register?url={thingUrl}</code></dt>
    <dd>Register a Thing with and URL <code>{thingUrl}</code>. Returns the unique Thing identifier.</dd>
    <dt><code>DELETE /rest/things/{thingId}</code></dt>
    <dd>Delete Thing with identifier <code>{thingId}</code></dd>
  </dl>
  </p>
}