@(stream: Resource)

@if(stream != null) {
	<div id="streamplot@stream.id" class="streamplot"></div>
	<div id="streamconfig@stream.id" class="streamconfig">
		<a href="#" onclick="StreamPlots.setWindow(streamplot@{stream.id}, 5*60*1000); return false;">5min</a>
		<a href="#" onclick="StreamPlots.setWindow(streamplot@{stream.id}, 30*60*1000); return false;">30min</a>
		<a href="#" onclick="StreamPlots.setWindow(streamplot@{stream.id}, 60*60*1000); return false;">1h</a>
		<a href="#" onclick="StreamPlots.setWindow(streamplot@{stream.id}, 24*60*60*1000); return false;">1d</a>
		<a href="#" onclick="StreamPlots.setWindow(streamplot@{stream.id}, 7*24*60*60*1000); return false;">1w</a>
		<a href="#" onclick="StreamPlots.setWindow(streamplot@{stream.id}, 30*24*60*60*1000); return false;">1m</a>
		<a href="#" onclick="StreamPlots.setWindow(streamplot@{stream.id}, 365*24*60*60*1000); return false;">1y</a>
	</div>

	<script type="text/javascript">
		// one global JavaScript object per stream
		var streamplot@{stream.id} = new Object();
		streamplot@{stream.id}.id = 'streamplot@{stream.id}';
		streamplot@{stream.id}.uri = '@{routes.Streams.get(stream.getEndPoint().getUser().userName, stream.getEndPoint().label, stream.path.substring(1))}';
		streamplot@{stream.id}.path = '@{stream.path.substring(1)}'; // for parsing the returned JSON
		streamplot@{stream.id}.window = 24*60*60*1000; // in ms
		streamplot@{stream.id}.since = parseInt(((new Date()).getTime() - streamplot@{stream.id}.window) / 1000); // in s for database
		streamplot@{stream.id}.points = [];
		streamplot@{stream.id}.timeout = null;

		$(function () {
			// init Flot plot
			streamplot@{stream.id}.plot = $.plot($("#streamplot@stream.id"), [ streamplot@{stream.id}.points ], StreamPlots.options);
			// start polling
			StreamPlots.poll(streamplot@{stream.id});
		});
	</script>
}