@(resource: Resource, withControls: Boolean)

@import helper._

@displayResource(endPoint: EndPoint) = {
 <a href="@routes.CtrlResource.get(resource.id)">@resource.path</a>
 @if(resource.pollingPeriod != 0) {
   [polled every @{resource.pollingPeriod/60} min]
 }
 @if(withControls) {
  <span class="rightControl">
    @if(resource.pollingPeriod != 0) {
      <a href="@routes.CtrlResource.setPeriod(resource.id, 0)" class="delete">[stop]</a>
    }
    @if(resource.hasData()) {
      <a href="@routes.CtrlResource.clearStream(resource.id)" class="delete">[clear]</a>
    }
    <a href="@routes.CtrlResource.delete(resource.id)" class="delete">[delete]</a>
  </span>
    
	  @if(endPoint.url!="") {
	    @form(routes.CtrlResource.setPeriod(resource.id,0)) {
	      <dl>
	      <dt style="font-weight:normal;">Enter polling period</dt>
	      <dd>  
  	      <input input type="hidden" name="id" value="@resource.id" />
	        <input input type="number" name="period" required placeholder="Period" class="input" size="4" style="text-align:right;"/>
	        <input type="submit" value="Ok" class="buttonG"/>
	      </dd>
	      </dl>
      }
	           
	      <dl>
	      <dt style="font-weight:normal;">Send REST request</dt>
	      <dd>
		      <select>
	          <option value="GET">GET</option>
	          <option value="POST">POST</option>
	          <option value="PUT">PUT</option>
	          <option value="DELETE">PUT</option>
	        </select>
	        <input input type="text" name="payload" size="8"/>
	        <input type="submit" value="Send" class="buttonG"/>
	      </dd>
        </dl>
    }
  }
}

@displayResource(resource.getEndPoint())
