@(endPoints: List[EndPoint])
    
<ul>
  @for(endPoint <- endPoints) {
    <li>
      <a href="@routes.CtrlEndPoint.get(endPoint.id)">@endPoint.getUser().userName/@endPoint.label</a> (@endPoint.getTextDescription())
        <ul>
          @Resource.getByEndPoint(endPoint).map { resource =>
              <li>
              <a href="@routes.CtrlResource.get(resource.id)">@resource.path</a>
							 @if(resource.pollingPeriod != 0) {
							   [polled every @{resource.pollingPeriod/60} min]
							 }
              @includeResource(resource, false, false)
              </li>
           }  
      </ul>
    </li>
  }
</ul>
