@()(implicit session: Session)

@import helper._

@layout("Home") {
    <!-- Simple OpenID Selector -->
    <form action="@routes.Application.authenticate("")" method="get" id="openid_form">
      <input type="hidden" name="action" value="verify" />
      <fieldset>
        <legend>Sign-in with OpenID</legend>
        <div id="openid_choice">
          <p>Please click your account provider:</p>
          <div id="openid_btns"></div>
        </div>
        <div id="openid_input_area">
          <input id="openid_identifier" name="openid_identifier" type="url" required placeholder="Your OpenID" />
          <input id="openid_submit" type="submit" value="Log in" class="buttonLG"/>
        </div>
          <p>OpenID is service that allows you to log-on to many different websites using a single indentity.
          Find out <a href="http://openid.net/what/">more about OpenID</a> and <a href="http://openid.net/get/">how to get an OpenID enabled account</a>.</p>
      </fieldset>
    </form>    
}
