@(resourceLog: ResourceLog, title: String)

	@viewField(label: String, field: String, className: String) = {
		@if(field != null && field != "") {
		<div class="control-group">
		<label class="control-label" for="@label">@label</label>
		<div class="controls">
		<input class="@className" readonly type="text" id="@label" value="@Html(field)" />
		</div>
		</div>
		}
	}
	@viewFieldLarge(label: String, field: String, className: String) = {
		@if(field != null && field != "") {
		<div class="control-group">
		<label class="control-label" for="@label">@label</label>
			<div class="controls">
		<textarea class="@className" readonly wrap="soft" rows="5" id="@label">@Html(field)</textarea>
			</div>
		</div>
		}
	}
	@if(resourceLog != null) {
	<fieldset>
  <legend>@title</legend>
<div class="form-horizontal">
		@viewField("Timestamp", resourceLog.getTimestamp(), "span9")
		@viewField("Method ", resourceLog.method, "span9")
		@viewField("URI ", resourceLog.uri, "span9")
		@viewFieldLarge("Headers", resourceLog.headers, "span9")
</div>
	</fieldset>
	}
	@**else {
		@viewFieldLarge("Messages", "No data yet!", "span9")
	}**@
