@(endPoints: List[EndPoint])

@import helper._

@layout("Manage", session) {
 
  <h1>Register new device</h1>
 
   @helper.form(action = routes.CtrlEndPoint.add()) {
    <dl>
      <input input type="text" name="label" required placeholder="Label of the device" class="inputL" />
      <input input type="url" name="url" placeholder="Publically reachable URL (optional)" class="inputL" />
      <input type="submit" value="Register" class="buttonLG"/>
    </dl>
  }
  
  @if(endPoints.length > 0) {
  <h1>Your resources</h1>
    @includeResources(endPoints)
  }
     
  @includeStreams(Resource.getByUserWithData(CtrlUser.getUser()))
}
