@(resource: Resource, owned: Boolean)

@import helper._

@displayResource(endPoint: EndPoint, user: User) = {
  <dl>
  <dt>User</dt>
  <dd>@user.userName</dd>
	<dl>
	<dt>End point</dt>
	<dd><a href="@routes.CtrlEndPoint.get(endPoint.id)">@endPoint.label</a></dd>
	<dt>Path</dt>
	<dd>@resource.path</dd>
	@if(resource.pollingPeriod > 0) {
	<dt>Polling interval</dt>
  <dd>@{resource.pollingPeriod/60} minutes</dd>
  }
  @if(resource.lastPolled > 0) {
  <dt>Last polled</dt>
  <dd>@{(controllers.Utils.currentTime()-resource.lastPolled)/60} minutes ago</dd>
  }
  @if(resource.lastUpdated > 0) {
  <dt>Last updated</dt>
  <dd>@{(controllers.Utils.currentTime()-resource.lastUpdated)/60} minutes ago</dd>
  }
 
	</dl>
}

@layout("Resource Details: @resource.path", session) {

  @displayResource(resource.getEndPoint(),resource.getUser())
 
  @vresource.include(resource, owned)

  <dl>


  @if(owned && resource.pollingPeriod != 0) {
    <dt class="action">Stop polling</dt>
    <dd><a href="@routes.CtrlResource.setPeriod(resource.id, 0)" class="delete">[stop]</a></dd>
  }
  @if(owned && resource.hasData()) {
    <dt class="action">Clear stream</dt> 
    <dd><a href="@routes.CtrlResource.clearStream(resource.id)" class="delete">[clear]</a></dd>
  }
  @if(owned) {
    <dt class="action">Delete resource</dt>
    <dd><a href="@routes.CtrlResource.delete(resource.id)" class="delete">[delete]</a></dd>
  }
  
  </dl>
    
  @vstream.include(resource) 

}
