@(message: String="")
@import helper._

@layout("Sitemap", message, session) {
<div class="row-fluid">
    <!-- Docs nav
    ================================================== -->
	<div class="span2 bs-docs-sidebar">
		<h4></h4>
		<ul class="unstyled">
		</ul>
	  </div>

  <div id="mainPane" class="span9">
		<!--Body content-->
		<legend>SicthSense site structure</legend>

		<ul>
			<li><a href="">Home</a></li>
			<li><a href="">Resources</a></li>
				<ul>
					<li><a href="">Add</a></li>
				</ul>
			<li><a href="">Streams</a></li>
			<li><a href="">Accounts</a></li>
				<ul>
					<li><a href="/account">My Account</a></li>
				</ul>
			<li><a href="/API">API</a></li>
			<li><a href="/admin">Admin</a></li>
				<ul>
					<li><a href="/account">User Management</a></li>
				</ul>
			<li>Sections</li>
			<li>Sections</li>
			<li>Sections</li>
		</ul>

		<br /> <br />
    </div>
  </div>
}
