@(thing: Thing, status: String)(implicit session: Session)

@import helper._

@layout(thing.name) {
  
  <h1>Information</h1> 
  
  <dl>
  <dt>Name</dt>
  <dd>@thing.name
  <br/>
  Edit name: 
  @form(routes.CThing.setName(thing.id,"")) {
    <input input type="hidden" name="id" value="@thing.id" />
    <input input type="text" name="name" required placeholder="Name" class="input" size="16" />
    <input type="submit" value="Ok" class="buttonG"/>
  }
  </dd>
  <dt>UID</dt>
  <dd>@thing.uid</dd>
  <dt>URL</dt>
  <dd><a href="@thing.url">@thing.url</a></dd>
  </dl>

  <br/>
  Perform automatic information discovery: @form(routes.CThing.discover(thing.id)) {
    <a href="@routes.CThing.discover(thing.id)" class="update">[discover]</a>
  }
  @if(status != null) {
    <span id="status">@status</span>
  }
  
  <br/>
  Delete:
  <a href="@routes.CThing.delete(thing.id)" class="delete">[delete]</a>
    
  <h1>Resources</h1>
  
  <ul>
      @for(resource <- thing.resources) {
          <li>
          @includeresource(thing, resource, true)
          </li>
        }  
  </ul>
  
  Add new resource:
  @form(routes.CThing.addResource(thing.id,"")) {
    <input input type="hidden" name="id" value="@thing.id" />
    <input input type="text" name="path" required placeholder="Path" class="input" size="16" />
    <input type="submit" value="Add" class="buttonG"/>
  }
    
  @if(thing.monitors.length > 0) {
  <h1>Monitors</h1> 
  
  <ul>
    @for(monitor <- thing.monitors) {
      <li>
      @includemonitor(monitor)
      </li>
    }
  </ul>
  }
}
