@(userForm: Form[User])

@import helper._

@displayUser(user: User) = {
@if(userForm != null) {
<span class="logged"><a href="@routes.CtrlUser.get()">[Cancel]</a></span>
} else {
<span class="logged"><a href="@routes.CtrlUser.edit()">[Edit]</a></span>
}

   @myForm.form(routes.CtrlUser.submit()) {
	    <dt>Mail</dt>
	    <dd>@user.email</dd>
	    @myForm.input(userForm!=null, "text", "firstName", "First name", user.firstName)
	    @myForm.input(userForm!=null, "text", "lastName", "Last name", user.lastName)
	    @myForm.input(userForm!=null, "text", "location", "Location", user.location)
	    @myForm.submit(userForm!=null, "Update")
  }

  @utils.map(user.location)  
}

@layout("Account", session) {
  @displayUser(User.get(session.get("id").toLong))
}

