@(endPoint: EndPoint, epForm: Form[EndPoint], owned: Boolean)

@import helper._

@layout(endPoint.label, session) {
  
  @if(owned) {
	  @if(epForm != null) {
	    <span class="logged"><a href="@routes.CtrlEndPoint.get(endPoint.id)">[Cancel]</a></span>
	  } else {
	    <span class="logged"><a href="@routes.CtrlEndPoint.edit(endPoint.id)">[Edit]</a></span>
	  }
	}

  @myForm.form(routes.CtrlEndPoint.submit(endPoint.id)) {
      <dt>User</dt>
      <dd>@endPoint.getUser().userName</dd>
      @myForm.input(epForm!=null, "text", "label", "Label", endPoint.label)
      @myForm.input(epForm!=null, "url", "url", "URL", endPoint.url)
      @myForm.input(epForm!=null, "text", "description", "Description", endPoint.description)
      @myForm.input(epForm!=null, "text", "location", "Location", endPoint.location)
      @if(epForm!=null) { @myForm.submit(epForm!=null, "Update") }
  }
  
  @if(owned) {
      <dl>
      @if(endPoint.url != "") {
        <dt class="action">Discover resources</dt>
        <dd><a href="@routes.CtrlEndPoint.discover(endPoint.id)" class="update">[discover]</a></dd>
      }
      <dt class="action">Delete end point</dt>
      <dd><a href="@routes.CtrlEndPoint.delete(endPoint.id)" class="delete">[delete]</a></dd>
      </dl>
	}
    
  <h1>Resources</h1>

  <ul>
      @Resource.getByEndPoint(endPoint).map { resource =>
          <li>
          <a href="@routes.CtrlResource.get(resource.id)">@resource.path</a>
               @if(resource.pollingPeriod != 0) {
                 [polled every @{resource.pollingPeriod/60} min]
               }
          @if(owned) {
                <span class="rightControl">
                  @if(resource.pollingPeriod != 0) {
                    <a href="@routes.CtrlResource.setPeriod(resource.id, 0)" class="delete">[stop]</a>
                  }
                  @if(resource.hasData()) {
                    <a href="@routes.CtrlResource.clearStream(resource.id)" class="delete">[clear]</a>
                  }
                  <a href="@routes.CtrlResource.delete(resource.id)" class="delete">[delete]</a>
                </span>
            }
          @includeResource(resource, owned)
          </li>
        }  
  </ul>
  
  @if(owned) { 
    @myForm.form(routes.CtrlEndPoint.addResource(endPoint.id)) {
      @myForm.input(true, "text", "path", "Add new resource", "")
      @myForm.submit(true, "Add")
    }
  }

}
