@(endPoint: EndPoint, epForm: Form[EndPoint], owned: Boolean)

@import helper._

@layout(endPoint.label, session) {
  
  @if(owned) {
	  @if(epForm != null) {
	    <span class="logged"><a href="@routes.CtrlEndPoint.get(endPoint.id)">[Cancel]</a></span>
	  } else {
	    <span class="logged"><a href="@routes.CtrlEndPoint.edit(endPoint.id)">[Edit]</a></span>
	  }
	}

  @myForm.form(routes.CtrlEndPoint.submit(endPoint.id)) {
      <dt>User</dt>
      <dd>@endPoint.getUser().userName</dd>
      @myForm.input(epForm!=null, "text", "label", "Label", endPoint.label)
      @myForm.input(epForm!=null, "url", "url", "URL", endPoint.url)
      @myForm.input(epForm!=null, "text", "description", "Description", endPoint.description)
      @myForm.input(epForm!=null, "text", "location", "Location", endPoint.location)
      @myForm.submit(epForm!=null, "Update")
  }
  
  @if(owned) { 
	  @if(endPoint.url != "") {
	  Perform automatic resource discovery
	  <a href="@routes.CtrlEndPoint.discover(endPoint.id)" class="update">[discover]</a>
	  <br/>
	  }
	  Delete:
	  <a href="@routes.CtrlEndPoint.delete(endPoint.id)" class="delete">[delete]</a>
	}
    
  <h1>Resources</h1>

  <ul>
      @Resource.getByEndPoint(endPoint).map { resource =>
          <li>
          @includeResource(resource, owned)
          </li>
        }  
  </ul>
  
  @if(owned) { 
    @myForm.form(routes.CtrlEndPoint.addResource(endPoint.id)) {
      @myForm.input(true, "text", "path", "Add new resource", "")
      @myForm.submit(true, "Add")
    }
  }

}
