@(things: List[Thing], status: String )

@layout("Your Things") {
  <h1>Register, monitor, trigger, share.</h1>

  <p>
  @if(things.size() == 0) {
    You haven't registered any Thing so far.
  } else {
    @if(things.size() == 1) {
	    You've got 1 Thing registered
	  } else {
	    You've got @things.size() Things  registered
	  }
  }
   
  <ul>
    @for(thing <- things) {
      <li>
        <a href="/things/@thing.id">@thing.id</a>
        <a class="delete" href="/rest/things/@thing.id"><img style="margin-left:1em;" src="@routes.Assets.at("images/delete.gif")" width=12px; alt="delete" /></a>
        <br/>
      </li>
    }
  </ul>
  <p/>

  <p>
    Add your Things to Sics<sup>th</sup>Sense:
  <form action="/things/register">
  <input input type="url" name="url" required placeholder="Enter a URL hosting the ID of a Thing" size="100" class="input"/>
  <input type="submit" formmethod="get" value="Register" class="button"/>
  </form>
  @if(status != null) {
  <span id="status">@status</span>
  }

  </p> 
   
}
