@(resource: Resource, own: Boolean, shared: Boolean, publicAccess: Boolean)
@import helper._
	
@if(own || shared || publicAccess) {
<!-- 	    	displayResource  		 -->
		<span class="dropdown-submenu">
	    <a class="icon-btn icon-zoom-in" tabindex="-1" href="#" rel="tooltip" title="Display"></a>
	    <ul class="dropdown-menu">
	   	<!-- displayResource dropdown menu -->
		  @displayResource(resource, own, resource.getEndPoint(),resource.getUser())
	    </ul>
	  </span>

	@if(resource.lastUpdated != 0) {
	 <span class="sideinfo">[updated @Utils.timeStr((Utils.currentTime()-resource.lastUpdated)) ago]</span>
	 } else {
	 	<span class="sideinfo">[never updated]</span>
	 }
	 @if(resource.pollingPeriod != 0) {
	 	<span class="sideinfo">[polled every @Utils.timeStr(resource.pollingPeriod)]</span>
	} else {
		<span class="sideinfo">[not polled]</span>
	}
	
	<span class="rightControl">
	@if(own) {
		 <a href="@routes.CtrlResource.delete(resource.id)" class="icon-btn icon-trash delete" rel="tooltip" title="Delete"></a>
		 @if(resource.hasData()) {
	     <a href="@routes.CtrlResource.clearStream(resource.id)" class="icon-btn icon-remove-sign delete" rel="tooltip" title="Clear"></a>
	   } else {
	   	 <a href="#" class="icon-btn icon-remove-sign icon-white delete" rel="tooltip" title="Clear"></a>
	   }
	   
		 @if(resource.hasUrl()) {
		 			<!-- polling pause -->
		     @if(resource.pollingPeriod != 0) {
		    		<a href="@routes.CtrlResource.setPeriod(resource.id, 0)" class="icon-btn icon-pause " rel="tooltip" title="Stop"></a>
		    	} else {
		    		<a href="#" class="icon-btn icon-pause icon-white " rel="tooltip" title="Stop"></a>
		    	}
		    	<!-- polling play -->
		    	<span class="dropdown-submenu">
			    <a class="icon-btn icon-play" tabindex="-1" href="#" rel="tooltip" title="Poll"></a>
			    <ul class="dropdown-menu">
			    <!-- polling dropdown menu -->
			    @helper.form(routes.CtrlResource.setPeriod(resource.id,0)) {	  
			     <dt class="action inline"><strong>Enter polling interval</strong></dt>
        		<dd>	
					   		<input type="hidden" name="id" value="@resource.id" />
					    	<input type="number" class="input-mini" name="period" required placeholder="Period" value="@(resource.pollingPeriod/60)" rel="tooltip" title="Period"/>
					    	<input class="icon-btn icon-play btn-link" href="#" rel="tooltip" title="Poll" type="submit" value=""/>
				    	</dd>
					    }
			    </ul>
			  </span>
    }
    <!-- set regex -->
		<span class="dropdown-submenu">
	    <a class="icon-btn icon-wrench" tabindex="-1" href="#" rel="tooltip" title="Poll"></a>
	    <ul class="dropdown-menu">
	   	<!-- regex dropdown menu -->
		  @form(routes.CtrlResource.setInputParser(resource.id,"")) {
		    <dt class="action inline"><strong>Set input parser <a href="http://regexpal.com/">(regexp)</a></strong></dt>
	        <dd>  
	          <input input type="hidden" name="id" value="@resource.id" />
	          <input input type="text" name="parser" class="input-medium" required placeholder="@resource.inputParser" style="text-align:right;"/>
	          <input class="icon-btn icon-ok btn-link" href="#" rel="tooltip" title="Set RegEx" type="submit" value="" />
	        </dd>
	        }
	    </ul>
	  </span>
    <!-- 		 publicAccessIcon -->
 		@if(!resource.isPublicAccess()) {
		  <a class="icon-btn icon-globe icon-white set_public_access_resource" parent_id="@resource.id" href="#" rel="tooltip" title="Share with the world!"></a>
		} else {
		  <a class="icon-btn icon-globe remove_public_access_resource" parent_id="@resource.id" href="#" rel="tooltip" title="Protect from the world!"></a>
		}
		@vresource.followIcon(resource, "rlist_toolbar") 
	 }
	 </span>
 }

