@import helper._

@layout("About", session) {

<div class="row">
	<div class="span2 bs-docs-sidebar">
	</div>
	<div class="span9">
	<br />
  <h1>Getting started</h1>
  
	<p>
	The first step is to create an account. You can then add your data sources
	and start collecting their data.  <i>Sources</i> provide a definition of how
	some data is accessed, and then <i>streams</i> of data points are populated
	from this source (e.g. poll or post).  
	</p>

	<p>
	When adding a source, Sics<sup>th</sup>Sense can attempt to guess the
	correct way to parse the data by probing the data source URL. Json responses
	are  parseable through simply specifying the path of any Json
	elements to save and plot. For example, the <i>light</i> and <i>humidity</i>
	of the following source would be stored by specifying the parsers
	"<i>/resources/light</i>" and "<i>/resources/humidity</i>".  The values can
	be either sent as an integer or float.
	</p>

  <pre>{
	"name": "New device",
	"sensors": {
		"light": 4.3,
		"temperature": 15,
		"humidity": 45
	}
}
</pre>

Other data formats can be easily parsed by specifying a <a href="http://en.wikipedia.org/wiki/Regular_expression">regular expression</a> to capture relevant numbers from an external webpage. XPath support will be added shortly.


	<br /> <br />
  <h1>Polling data</h1>
  
	The easiest way to get your sensor data into Sics<sup>th</sup>Sense is to let us periodically <i>poll</i> your data source (e.g. device or webpage).
	This is solution is very flexible because it is entirely configured in the Cloud, through the Web interface.
  After creating your source, just discover or add new streams manually, with a corresponding polling interval.
  The data will soon appear in graphs, and be available through our RESTful API.


	<br /> <br />
  <h1>Posting data</h1>
  
  Posting to Sics<sup>th</sup>Sense is also useful, for delay-sensitive notification, or for data collection from devices with no public URL (e.g. a smartphone).
  To do so, just post at the following URL:
  <pre>
  http://sense.sics.se/sources/[key]</pre>
	Where <i>key</i> is a unique authorising key given by the system.
  Non-existing devices and resources you post to will be created on-the-fly.


	<br /> <br />
  <h1>Getting data</h1>
  
  You can fetch data from Sics<sup>th</sup>Sense's database through a <code>GET</code> at the following URI:
  <pre>
  http://sense.sics.se/streams/[key]</pre>
  
	Where <i>key</i> is a unique authorising key given by the system.
	<!--
  URI arguments allow to specify which subset of the dataset you want to get. Use <code>?tail=n</code> to get the <code>n</code> most recent samples. Use <code>?last=t</code>
  to get samples posted during the last <code>t</code> seconds. Use <code>?since=t</code> to get the samples posted since (including) absolute UNIX time <code>t</code> (in seconds).
	-->


	<br /> <br />
  <h1>Interacting with devices</h1>
  
  Sics<sup>th</sup>Sense can act as a RESTful proxy towards any public device. This allows to share your devices without making their actual URI public.
  Just <code>GET</code>, <code>POST</code>, <code>PUT</code> or <code>DELETE</code> to: 
  
  <pre>
  http://sense.sics.se/proxy/[user]/[device]/[path]</pre>


	<br /> <br />
  <h1>Inspecting Users, Sources and Streams</h1>
  
  You can access a subset of the data on users, devices and resources, in Json format.
  Simply get the following URIs:
  <pre>
  GET        http://sense.sics.se/users/[user]
  GET        http://sense.sics.se/sources/[key]
  GET        http://sense.sics.se/streams/[key]</pre>

	<br /> <br />
	<br /> <br />
  </div>
</div>

}
