@(message: String="")
@import helper._

@layout("Admin", message, session) {
<div class="row">
    <!-- Docs nav
    ================================================== -->
	<div class="span2 bs-docs-sidebar">
		<h4></h4>
		<ul class="unstyled">
			<!--li><span href="#" id="showHidePlotsButton" data-nextTitle="Show graphs" onClick="showHidePlots()" class="btn btn-lnk">Hide graphs</span></li-->
		</ul>
	  </div>

  <div class="span9">
		<!--Body content-->
		<!-- Stream listing and visualizing -->
		<legend>Administrator's page</legend>

		<ul>
			<li><a href="/admin/statistics">Statistics page</a></li>
			<li><a href="/admin/reindex">Reindex Search Database</a></li>
		</ul>

		<br /> <br />
    </div>
  </div>
}
