@(sources: List[Source])
@** needs user sources, external streams? available operators?
 available operators for this user!
 **@

@import helper._

@layout("Manage", session) {

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span2 bs-docs-sidebar">
			@manage.navigationMenu(sources)
			@** should pass theses parameters(sources, extStreams) **@
      </div>
      <div class="span9">
			<br \>
      <!--Body content-->
  <h1>Attach operator to existing Stream</h1>
  <br />
   @helper.form(action = routes.CtrlOperator.attach()) {
    <dl>
			Input Stream: <select name=="inputStream">
				@for(source <- sources) {
					@for(stream <- source.outputStreams) {
						<option value="@stream.id">@stream.id</option>
					}
				}
				<option value="fakestream1">FakeStream1</option>
			</select>
			&nbsp; &nbsp; &nbsp;
			Operator type: <select name=="operatorType">
				<option value="add">Add</option>
				<option value="sum">Sum</option>
				<option value="max">Max</option>
			</select>
			<input input type="text" name="output" required placeholder="Label of the new stream" class="inputL" /><br />
      <input input type="hidden" name="ownerName" class="inputL" value="someuser"/><br />

      <input type="submit" value="Attach" class="buttonLG"/>
    </dl>
  }
  <br />
  <br />

    </div>
  </div>



}
