@(sources: List[Source], myForm: Form[SkeletonSource])

@import helper._
@import helper.twitterBootstrap._

@title = {
Add a new stream parser <small><a href="@routes.CtrlSource.add()"></a></small>
}

@streamParserGroup(field: Field, className: String = "parser") = {
<div class="twipsies well @className">
	<a class="removeParser btn btn-danger pull-right">Remove this parser</a>
	@inputText(
		field("vfilePath"),
		'_label -> "Stream path",
		'_class -> "input-small"
	)

	@inputText(
		field("inputParser"),
		'_label -> "Input parser"
	)

	@inputText(
		field("inputType"),
		'_label -> "Content type",
		'_value -> "application/json"
	)
</div>
}

@layout("Manage", session) {

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span2 bs-docs-sidebar">
			 
			@manage.navigationMenu(sources) 
			@**
			should pass theses parameters(sources, extStreams)
			**@
      </div>
      <div class="span9">
				<br \>

 	      <!--Body content-->
	      <!-- TODO: handle errors-->
	      @if(myForm.hasErrors) {
	      <div class="alert-message error">
		      <p><strong>Oops</strong> Please fix all errors</p>
	      </div>
	      }

  <h1>Adding source</h1>
	@helper.form(action = routes.CtrlSource.add()) {
	      <fieldset>
		      <legend>Source configuration</legend>
	      @inputText(
			    myForm("label"),
		      '_label -> "Label",
		      '_help -> "Label"
				)
	      @inputText(
			    myForm("pollingUrl"),
		      '_label -> "URL",
		      '_help -> "Polling URL"
	      )
	      @inputText(
			    myForm("pollingPeriod"),
		      '_label -> "Period",
		      '_help -> "Polling period"
	      )
	      @inputText(
		      myForm("pollingAuthenticationKey"),
		      '_label -> "Authentication key",
		      '_help -> "Enter authentication details if required by polled source"
		      )

	      </fieldset>

		      <input type="submit" name="poll" class="btn btn-primary" value="Poll URL">
	      <fieldset>
		      <legend>Stream Parsers</legend>
		      <div id="parsers">

			      @repeat(myForm("streamParserWrapers"), min = 1) { spw =>
			        @streamParserGroup(spw)
			      }

			      @**
			      * Keep an hidden block that will be used as template for Javascript copy code

			      @streamParserGroup(
				      myForm("streamParserWrapers[x]"),
				      className = "parsers_template"
			      )
			      **@

			      <div class="manage">
				      <a class="addParser btn btn-success">Add another stream parser</a>
			      </div>

		      </div>

	      </fieldset>

  <br />
	      <div class="actions">
		      <input type="submit" name="add" class="btn btn-primary" value="Add Source">
		      <a href="@routes.CtrlSource.manage()" class="btn">Cancel</a>
	      </div>
  }

	      <!-- end add source-->
  <br />
  <br />

    </div>
  </div>


}
