@(vfiles : List[Vfile], message: String="")

@import helper._

@layout("Streams", message, session) {

    <!-- Docs nav
    ================================================== -->
	<div class="row">
		<div class="span2 bs-docs-sidebar">
				<h4>Drive</h4>
					<div id="vfileTree">
						<ul>
						@Html(FileSystem.listHTMLFileSystem(Secured.getCurrentUser()))
						</ul>
					</div>
  </div>

  <div class="span9">

		<!--Body content-->

<table class="table table-striped table-hover ">
  <!--caption>File view</caption-->
  <thead>
    <tr>
      <!-- th>Select</th -->
      <th class="span3">Label</th>
			<th class="span5">Graph</th>
			<th class="span4">Modified</th>
    </tr>
  </thead>
  <tbody id="fileTableBody">
		@filesUtils.listDir(vfiles, "")
  </tbody>
</table>
		<br /> <br />

    </div>
  </div>

}
