@(vfiles : List[Vfile], path: String="/", message: String=" ")

@import helper._

@layout("Streams", message, session) {

    <!-- Docs nav
    ================================================== -->
	<div class="row">
		<div class="span2 bs-docs-sidebar">
				<h4>Drive</h4>
					<div id="vfileTree">
						<ul>
						@Html(FileSystem.listHTMLFileSystem(Secured.getCurrentUser()))
						</ul>
					</div>
  </div>

  <div class="span9">

		<!--Body content-->
		@filesUtils.listDir(vfiles, path)

		<br /> <br />

    </div>
  </div>

}
