@(streams : List[Stream])

@import helper._

@layout("Home", session) {

    <!-- Docs nav
    ================================================== -->
	<div class="row">
		<div class="span2 bs-docs-sidebar">
		<br \><br \><br \>

  </div>

  <div class="span9">
		<br \>
		<!--Body content-->
		<!-- Stream listing and visualizing -->
		@if(streams.length > 0) {
			<h1>Followed streams</h1>
			@for(stream <- streams) {					
				<br />
				@vstream.includeStream(stream)
				<br />
			}
		} else {
			<br /> <br />
			No Streams followed! 
			<br />
			<br />
			Add some Resource's to your dashboard through the <a href="/resources">Resources page</a> and follow them in the <a href="/streams">Streams</a> page. Alternatively Search for public Streams in the toolbar at the top of the page.
		}
		<br /> <br />
	
    </div>
  </div>

}
