@(followedStreams: List[Stream], lastUpdatedStreams: List[Stream])

@import helper._

@layout("Home", session) {
<div class="row">
    <!-- Docs nav
    ================================================== -->
	<div class="span2 bs-docs-sidebar">
		<h4></h4>
		<ul class="unstyled">
			<li><span href="#" id="showHidePlotsButton" data-nextTitle="Show graphs" onClick="showHidePlots()" class="btn btn-lnk">Hide graphs</span></li>
		</ul>
	  </div>

  <div class="span9">
		<!--Body content-->
		<!-- Stream listing and visualizing -->
		<legend>Favourite streams</legend>
		@if(followedStreams.length > 0) {
			@for(stream <- followedStreams) {					
				<br />
				@vstream.includeStream(stream)
				<br />
			}
		} else {
			You are not following any stream! 
			<br />
			<br />
			Add some Resource's to your dashboard through the <a href="@routes.CtrlResource.resources()">Resources page</a> and follow them in the <a href="/streams">Streams</a> page. 
			Alternatively Search for public Streams in the toolbar at the top of the page.
		}
		@if(lastUpdatedStreams.length > 0) {
			<br /><br />
			<section>
			<legend>Public streams</legend>
			@for(stream <- lastUpdatedStreams) {					
				<br />
				@vstream.includeStream(stream)				
				<br />
			}
			</section>
		}
		<br /> <br />
    </div>
  </div>
}
