@(sources : List[Source], myForm : Form[Source])
@** 
Should take these parameters, for the side navigation menu
(sources : List[Source], extStreams : List[Stream]) 
**@	
@** needs user sources, external streams? available operators? **@
@import helper._

@layout("Sources", session) {

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span2 bs-docs-sidebar">
			@manage.navigationMenu(sources) 
			@** should pass theses parameters(sources, extStreams) **@
    </div>

    <div class="span9">
		<br \>
		<!--Body content-->

	<!-- Small add source form -->
	<h1>Add new source</h1>   
	@helper.form(action = routes.CtrlSource.initialise()) {
	      <fieldset>
		      <legend>Parameters for the source:</legend>
	      @inputText(
			    myForm("label"),
		      '_label -> "Label",
		      '_help -> "Label to name this source"
	      )
	      @inputText(
			    myForm("pollingUrl"),
		      '_label -> "URL",
		      '_help -> "URL to poll for data (leave blank for POST'd data)"
	      )
	      @inputText(
			    myForm("pollingPeriod"),
		      '_label -> "Period",
		      '_help -> "Polling period"
	      )
				@*
	      @inputText(
		      myForm("pollingAuthenticationKey"),
		      '_label -> "Authentication key",
		      '_help -> "Only enter authentication details if required by polled source"
		      )
				*@
 				<div class="actions">
		      <input type="submit" class="btn primary" value="Add">
	      </div>
	      </fieldset>

  }
  <br /> <br /> <br /> 
<!-- Stream listing and visualizing -->
	@if(sources.length > 0) {
		<h1>Your source's streams</h1>
		@for(source <- sources) {
			@for(streamparser <- source.streamParsers) {
				@vstream.includeStream(streamparser.stream)
				<br />
			}
		}
	}

	<br /> <br />
  <br /> <br /> <br /> 
    </div>
  </div>

}
