@(sources : List[Source])
@** 
Should take these parameters, for the side navigation menu
(sources : List[Source], extStreams : List[Stream]) 
**@	
@** needs user sources, external streams? available operators? **@
@import helper._

@layout("Manage", session) {

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span2 bs-docs-sidebar">
			@manage.navigationMenu(sources) 
			@** should pass theses parameters(sources, extStreams) **@
      </div>
      <div class="span9">
				<br \>

 	<!--Body content-->

	<!-- Small add source form -->
	<h1>Add new source</h1>   
   @helper.form(action = routes.CtrlSource.initialise()) {
    <dl>
      <input input type="text" name="label" required placeholder="Label of the device" class="inputL" />
      <input input type="url" name="url" placeholder="Publically reachable URL (optional)" class="inputL" />
      <input input type="hidden" name="ownerName" class="inputL" value="someuser"/>
      <input type="submit" value="Register" class="buttonLG"/>
    </dl>
  }
  <br />
	
<!-- Stream listing and visualizing -->
	@if(sources.length > 0) {
		<h1>Your streams</h1>
		@for(source <- sources) {
			@for(stream <- source.outputStreams) {
				@vstream.includeStream(stream)
			  <br />
			}
		}
	}
  <br />

    </div>
  </div>

}
