@(message: String="", username: String)

@import helper._

@layout("Log In", message, null) {

		<br />
    <!-- Simple OpenID Selector -->
		<form action="/registerPassword" method="post">
      <fieldset>
				<legend><b>Signup a new user account</b></legend>
				<dt>Email</dt>
				<dd><input type="text" name="username" value="@username" /></dd>

				<dt>Password</dt>
				<dd><input type="password" name="password" value="" /></dd>
				<dt>Confirm Password</dt>
				<dd><input type="password" name="password2" value="" /></dd>
			<br />
				<dt></dt>
				<dd>
				<input class="btn" type="submit" name="register" value="Signup" /> 
			</dd>
			</fieldset>
		</form>
}
