@(resources: List[Resource], myForm: Form[SkeletonResource], addNewResource: Boolean)

@import helper._
@import helper.twitterBootstrap._

@title = {
	@if(addNewResource) {
		Add a new resource <small><a href="@routes.CtrlResource.add()"></a></small>
	} else {
		Configure '@myForm("label").value'
	}
}
@resourceFormAction = @{
	if(addNewResource) {
		routes.CtrlResource.add()	
	} else {
		routes.CtrlResource.modify(myForm("id").value.toLong)
	}
}
@resourceFormId = @{
	if(addNewResource) {
		"add_resource_form"	
	} else {
		"modify_resource_form"
	}
}

@interactWithResource(resourceId: Long, resourceUrl: String) = {  
	@if(Utils.isValidURL(resourceUrl)) {
	<div class="row-fluid interact controls controls-row" resourceId="@resourceId">
	<fieldset>
  <legend>Interact with reresource</legend>
	 <form id="proxy@resourceId" action="@routes.Proxy.forwardById(resourceId, "")">
	 	 <select class="span2" id="method@resourceId" name="method" >
   		<option value="GET" selected="selected">GET</option>
    	<option value="POST">POST</option>
    	<option value="PUT">PUT</option>
    	<option value="DELETE">DELETE</option>
		 </select>
		 <input class="span4" type="text" id="arguments@resourceId" name="arguments" placeholder="arguments" />
     <input class="span4" type="text" id="body@resourceId" name="body" placeholder="body" />
		 <input class="span1 btn btn-primary" type="submit" name="send" id="send@resourceId" value="Send">
		 <br />
		 <br />
   	 <img class="span1" id="ajax_wait@resourceId" src="@routes.Assets.at("images/ajax_wait.gif")" height="20" align="top" style="display: none"></img>
	 </form>
	</fieldset>
	<div id="response@resourceId" style="display: none">
		<div class="span2"><a id="hide@resourceId" href="#" class="icon-remove btn-icon"></a>&nbsp
		<span id="response1@resourceId"></span></div>
	  <textarea class="span10" id="response2@resourceId" name="response2@resourceId" wrap="soft"></textarea>
	</div>
		</div>    

     <script type="text/javascript">
	  $('#proxy@resourceId').submit(function() {
	    var method = $("select#method@resourceId").val();
	    var arguments = $("input#arguments@resourceId").val();
	    var url = "@routes.Proxy.forwardById(resourceId, "")" + arguments;
	    var body = $("input#body@resourceId").val();
	    $("#ajax_wait@resourceId").show(); //css("visibility","visible");
	    $.ajax({
	    	  url: url,
	    	  context: document.body,
	    	  timeout: @Proxy.REQUEST_TIMEOUT,
	    	  type: method,
	    	  data: body,
	    	  contentType: "text/plain",
    	    error: function(x, t, m) {
    	    	$("#response1@resourceId").html("Error");
    	    	$("#response2@resourceId").text(m);
            $("#response@resourceId").show();
    	    	$("#ajax_wait@resourceId").hide();//.css("visibility","hidden");
    	    },
    	    success: function(response) {
    	    	$("#response1@resourceId").html("Response");
            $("#response2@resourceId").text(response);
            $("#response@resourceId").show();
            $("#ajax_wait@resourceId").hide();//.css("visibility","hidden");
           }
	    	});
	    			    
	    return false;
	  });
	  
	  $('#hide@resourceId').click(function() {
		  $("#response@resourceId").hide();              
	      return false;
	    });
	  
	  </script>
	}
}

@streamParserGroupLabels(className: String = "") = {
<div class="row-fluid @className controls controls-row">
<label class="span3">Stream path</label>
<label class="span3">Parser (Regex/JSON path)</label>
<label class="span3">Date/Time format</label>
<label class="span2">MIME type</label>
</div>
}

@streamParserGroup(field: Field, className: String = "", modifyStreamPath: Boolean = true, deleteParser: Boolean = false) = {
<div class="row-fluid parser controls controls-row @className" parserId="@{field("parserId").value}">
<input type="hidden" id="@field("parserId").id" name="@field("parserId").name" value="@field("parserId").value" readonly="readonly" size="0">
<input class="span3" type="text" maxlength="254"  id="@field("vfilePath").id" name="@field("vfilePath").name" value="@field("vfilePath").value" @if(!modifyStreamPath){ readonly } else { placeholder="Stream path"}>
<input class="span3" type="text" id="@field("inputParser").id" name="@field("inputParser").name" value="@field("inputParser").value" placeholder="Input parser">
<input class="span3" type="text" id="@field("timeformat").id" name="@field("timeformat").name" value="@field("timeformat").value" placeholder="EEE MMM dd kk:mm:ss z yyyy">
  <select class="span2" id="@field("inputType").id" name="@field("inputType").name" selected="@field("inputType").value">
  	<option value=""></option>
		<option value="application/json" @if(field("inputType").value.toString.contains("json")){selected="selected"}>application/json</option>
    <option value="text/plain" @if(field("inputType").value.toString.contains("text")){ selected="selected" }>text/plain</option>
  </select>
	<i class="removeParser btn-icon icon-trash pull-right" delete="false" @if(deleteParser){parserId="@{field("parserId").value}"}else{parserId="-1"}></i>
@*<input type="text" id="@field("inputType").id" name="@field("inputType").name" value="@field("inputType").value" placeholder="Input type">*@
</div>
}

@layout("Manage", session) {

    <!-- Docs nav
    ================================================== -->
    <div class="row-fluid">
      <div class="span2 bs-docs-sidebar">
			 
			@manage.navigationMenu(resources) 
			@**
			should pass theses parameters(resources, extStreams)
			**@
      </div>
      <div class="span9">
 	      <!--Body content-->
	      <!-- TODO: handle errors-->
	      @if(myForm.hasErrors) {
	      <div class="alert-message error">
		      <p><strong>Oops</strong> Please fix all errors</p>
	      </div>
	      }
	      
  <h1>@title</h1>
	@if(!addNewResource) {
		@interactWithResource(myForm("id").value.toLong, myForm("pollingUrl").value)
	}
	
	@helper.form(action = resourceFormAction, 'id -> resourceFormId) {
	      <fieldset>
		      <legend>Resource parameters</legend>
					<div class="row-fluid controls controls-row">
						<label class="span3">Label</label>
						<label class="span5">Reresource URL</label>
						<label class="span2">Poll period (s)</label>
					</div>
					<div class="row-fluid controls controls-row">
						<input type="hidden" id="myForm("id").id" name="@myForm("id").name" value="@myForm("id").value" readonly="readonly" size="0">
						<input class="span3" type="text" required id="@myForm("label").id" name="@myForm("label").name" value="@myForm("label").value" placeholder="Reresource label">
						<input class="span7" type="url" id="@myForm("pollingUrl").id" name="@myForm("pollingUrl").name" value="@myForm("pollingUrl").value" placeholder="leave blank for POST">
						<input class="span2" type="number" id="@myForm("pollingPeriod").id" name="@myForm("pollingPeriod").name" value="@myForm("pollingPeriod").value" placeholder="0">
					</div>
			@if(!addNewResource) {
					<div class="row-fluid controls controls-row">
						<label class="span12"><a href="/API">Post key</a> (keep secret!): </label>
					</div>
					<div class="row-fluid controls controls-row">
						<input class="span12" type="text" id="@myForm("key").id" name="@myForm("key").name" value="@myForm("key").value" readonly="readonly">
					</div>
	      </fieldset>
			} else {
				</fieldset>
		    <input type="submit" name="poll" class="btn btn-primary" value="Poll URL">
			}
	      <fieldset>
		      <legend>Stream Parsers</legend>
		      <div id="parsers" resourceId="@myForm("id").value">
						@streamParserGroupLabels()
			      @repeat(myForm("streamParserWrapers"), min=0) { spw =>
			        @streamParserGroup(spw, className="", modifyStreamPath=false, deleteParser=true)
			      }

			      @**
			      * Keep an hidden block that will be used as template for Javascript copy code
			      **@
						<div class="parsers_template">
			      	@streamParserGroup( myForm("streamParserWrapers[x]"), className = "", modifyStreamPath=true, deleteParser=false )
			      </div>
		      </div>
					<span style="float: right;"><a class="addParser btn btn-success">Add new input parser</a></span>

	      </fieldset>

				<br />

	      <div class="actions">				      
				@if(!addNewResource) {
		      <input type="submit" name="update" class="btn btn-primary" id="updateResource" value="Update"> &nbsp;
				} else {
		      <input type="submit" name="add" class="btn btn-primary" id="addResource" value="Add Resource"> &nbsp;
				}

		      <a href="@routes.CtrlResource.resources()" class="btn">Cancel</a>
	      </div>
	     @if(!addNewResource) {
  			<br />
				<a href="@routes.CtrlResource.delete(myForm("id").value.toLong)" class="btn btn-danger">Delete resource</a>
				<br /> <br /> <br />
				<br /> <br /> <br />
			}
  }
	<!-- end modify resource-->
  </div>
</div>
}
