@(resources : List[Resource], myForm : Form[Resource])
@import helper._

@tbField(field: Field, label: String, className: String="", typeName: String ="text", readOnly: Boolean = false, placeHolder: String = "", value: String=null) = {
	@if(form != null && field != "") {
	@if(label != null && label != "") { 
		<div class="control-group">
			<label class="control-label" for="@field.id">@label</label>
			<div class="controls">
				<input class="@className" type="@typeName" id="@field.id" name="@field.name" value=@if(value!=null){"@value"}else{"@field.value"} placeholder="@placeHolder" @if(readOnly){ readonly } />
			</div>
		</div>
		} else {
		<input class="@className" type="@typeName" id="@field.id" name="@field.name" value=@if(value!=null){"@value"}else{"@field.value"} placeholder="@placeHolder" @if(readOnly){ readonly } />
		}
	}
}
	
@layout("Resources", session) {

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span2 bs-docs-sidebar">
			@** should pass theses parameters(resources, extStreams) **@
			@manage.navigationMenu(resources) 
    </div>

    <div class="span9">
		<!--Body content-->

	<!-- Small add resource form -->
<div class="row-fluid">
	@helper.form(action = routes.CtrlResource.addSimple(), 'class -> "form-inline") {
	
	<fieldset>
		<legend>Add a new resource</legend>
		@tbField(myForm("id"), "", "", "hidden")
		@tbField(myForm("label"), "", "input-large", "text", false, "Enter resource label")
		@tbField(myForm("pollingUrl"), "", "input-xxlarge", "url", false, "Resource URL (optional)")
		<input type="submit" class="btn btn-primary" value="Add">
	 </fieldset>
  }

    </div>
  </div>
</div>
}
