@(resources : List[Resource], myForm : Form[Resource])
@** 
Should take these parameters, for the side navigation menu
(resources : List[Resource], extStreams : List[Stream]) 
**@	
@** needs user resources, external streams? available operators? **@
@import helper._

@layout("Resources", session) {

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span2 bs-docs-sidebar">
			@** should pass theses parameters(resources, extStreams) **@
			@manage.navigationMenu(resources) 
    </div>

    <div class="span9">
		<br \>
		<!--Body content-->

	<!-- Small add reresource form -->
	<h1>Add new resource</h1>   
	@helper.form(action = routes.CtrlResource.initialise()) {
	
	<fieldset>
		      <legend>Parameters for the resource:</legend>
					<div class="row-fluid controls controls-row">
						<label class="span3">Label</label>
						<label class="span5">Resource URL</label>
						<label class="span2">Poll period (s)</label>
					</div>
					<div class="row-fluid controls controls-row">
						<input type="hidden" id="myForm("id").id" name="@myForm("id").name" value="@myForm("id").value" readonly="readonly" size="0">
						<input class="span3" type="text" required id="@myForm("label").id" name="@myForm("label").name" value="@myForm("label").value" placeholder="Source label">
						<input class="span5" type="url" id="@myForm("pollingUrl").id" name="@myForm("pollingUrl").name" value="@myForm("pollingUrl").value" placeholder="leave blank for POST">
						<input class="span2" type="number" id="@myForm("pollingPeriod").id" name="@myForm("pollingPeriod").name" value="@myForm("pollingPeriod").value" placeholder="120">
					</div>
@** 
	      <fieldset>
		      <legend>Parameters for the resource:</legend>
	      @inputText(
			    myForm("label"),
		      '_label -> "Label",
		      '_help -> "Required name of this resource",
					'value -> "NewSource"
	      )
	      @inputText(
			    myForm("pollingUrl"),
		      '_label -> "URL",
		      '_help -> "URL to poll for data",
					'placeholder -> "leave blank for POST'd data"
	      )
	      @inputText(
			    myForm("pollingPeriod"),
		      '_label -> "Period",
		      '_help -> "Polling period [seconds]",
					'placeholder -> "leave blank for 120s",
					'_value -> "100"
	      )
**@
				@*
	      @inputText(
		      myForm("pollingAuthenticationKey"),
		      '_label -> "Authentication key",
		      '_help -> "Only enter authentication details if required by polled resource"
		      )
				*@
 				<div class="actions">
		      <input type="submit" class="btn btn-primary" value="Add">
	      </div>
	      </fieldset>

  }
  		<br />
    </div>
  </div>
}
