@(streams : List[Stream])

@import helper._

@layout("Streams", session) {

    <!-- Docs nav
    ================================================== -->
	<div class="row">
		<div class="span2 bs-docs-sidebar">
		<h4></h4>
		<ul class="unstyled">
			<li><span href="#" id="showHidePlotsButton" data-nextTitle="Show graphs" onClick="showHidePlots()" class="btn btn-lnk">Hide graphs</span></li>
		</ul>
	  </div>

  <div class="span9">
		<!--Body content-->
		<!-- Stream listing and visualizing -->
		<Legend>Search results</Legend>
		@if(streams.length > 0) {
			@for(stream <- streams) {					
				<br />
				@**vstream.includeStreamResult(stream)*@
				@vstream.includeStream(stream)
				<br />
			}
		} else {
		<br />
			No streams available! View/add your own through the <a href="/resources">Resources page</a>.
		}
		<br /> <br />
	
    </div>
  </div>

}
