@(sources: List[Source], myForm: Form[SkeletonSource])

@import helper._
@import helper.twitterBootstrap._

@title = {
Add a new stream parser <small><a href="@routes.CtrlSource.add()"></a></small>
}

@streamParserGroupLabels(className: String = "") = {
<div class="row-fluid @className controls controls-row">
<label class="hidden">ID</label>
<label class="span4">Stream path</label>
<label class="span3">Parser (Regex or JSON path)</label>
<label class="span3">MIME type</label>
</div>
}

@streamParserGroup(field: Field, className: String = "", modifyStreamPath: Boolean = false, deleteParser: Boolean = false) = {
<div class="row-fluid well parser @className controls controls-row" parserId="@{field("parserId").value}">
<input type="hidden" id="@field("parserId").id" name="@field("parserId").name" value="@field("parserId").value" readonly="readonly" size="0">
<input class="span4" type="text" id="@field("vfilePath").id" name="@field("vfilePath").name" value="@field("vfilePath").value" placeholder="Stream path" @if(!modifyStreamPath){ readonly="readonly" } else { placeholder="Stream path"}>
<input class="span3" type="text" id="@field("inputParser").id" name="@field("inputParser").name" value="@field("inputParser").value" placeholder="Input parser">
@*<input type="text" id="@field("inputType").id" name="@field("inputType").name" value="@field("inputType").value" placeholder="Input type">*@
  <select class="span3" id="@field("inputType").id" name="@field("inputType").name" selected="@field("inputType").value">
  	<option value=""></option>
		<option value="application/json" @if(field("inputType").value.toString.contains("json")){selected="selected"}>application/json</option>
    <option value="text/plain" @if(field("inputType").value.toString.contains("text")){ selected="selected" }>text/plain</option>
  </select>
	<a href="#" class="removeParser icon-trash pull-right" parserId="@{field("parserId").value}" @if(deleteParser){delete="false"}></a>
</div>
}

@layout("Manage", session) {

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span2 bs-docs-sidebar">
			 
			@manage.navigationMenu(sources) 
			@**
			should pass theses parameters(sources, extStreams)
			**@
      </div>
      <div class="span9">
				<br \>

 	      <!--Body content-->
	      <!-- TODO: handle errors-->
	      @if(myForm.hasErrors) {
	      <div class="alert-message error">
		      <p><strong>Oops</strong> Please fix all errors</p>
	      </div>
	      }
  <h1>Configure '@myForm("label").value'</h1>

	@helper.form(action = routes.CtrlSource.modify(myForm("id").value.toLong), 'id -> "modify_source_form") {
	      <fieldset>
		      <legend>Source parameters</legend>

				Post key (secret): <pre>@myForm("key").value</pre>

				<br />
    
		@inputText(myForm("id"), '_label -> "", 'readonly -> "readonly", '_class -> "hidden", 'size -> 0, 'type -> "hidden")
		<div class="row-fluid">
      <div class="span4">
	      @inputText(
			    myForm("label"),
		      '_label -> "Label:",
 					'_class -> "form-horizontal"
	      )
</div>
		<div class="span7">
	      @inputText(
					myForm("pollingUrl"),
		      '_label -> "Polling URL:",
 					'_class -> "form-horizontal"
	      )
</div>
<div class="span1">
	      @inputText(
			    myForm("pollingPeriod"),
		      '_label -> "Polling period:",
 					'_class -> "form-horizontal"
	      )
</div>
				@*
	      @inputText(
		      myForm("pollingAuthenticationKey"),
		      '_label -> "Authentication key",
		      '_help -> "Enter authentication details if required by polled source",
 					'_class -> "form-horizontal"
		      )
				*@
	      </fieldset>

				<br />
	      <fieldset>
		      <legend>Stream Parsers</legend>
		      <div id="parsers" sourceId="@myForm("id").value">
						@streamParserGroupLabels()
			      @repeat(myForm("streamParserWrapers"), min=0) { spw =>
			        @streamParserGroup(spw, className="", modifyStreamPath=false, deleteParser=true)
			      }

			      @**
			      * Keep an hidden block that will be used as template for Javascript copy code
			      **@

			      @streamParserGroup(
				      myForm("streamParserWrapers[x]"),
				      className = "parsers_template",
							modifyStreamPath = true
			      )
		      </div>
	      </fieldset>
	      <div class="actions">				      
					<a class="addParser btn btn-success">Add another stream parser</a>
		      <input type="submit" class="btn btn-primary" name="update" id="updateSource" value="Update">
		      <a href="@routes.CtrlSource.manage()" class="btn">Cancel</a>
	      </div>
  			<br />
				<a href="@routes.CtrlSource.delete(myForm("id").value.toLong)" class="btn btn-danger">Delete source</a>
  }
  <br />
@**
*	@helper.form(action = routes.CtrlSource.delete(myForm("id").value.toLong), 'id -> "delete_source_form") {
*		<input type="submit" class="btn btn-danger" name="delete" value="Delete source">
*	}
**@
	      <!-- end modify source-->
  <br /> <br />
  <br /> <br />

    </div>
  </div>
}
