@(sources: List[Source], myForm: Form[SkeletonSource])

@import helper._
@import helper.twitterBootstrap._

@interactWithSource(sourceId: Long, sourceUrl: String) = {  
	@if(Utils.isValidURL(sourceUrl)) {
	<div class="row-fluid interact controls controls-row" sourceId="@sourceId">
	<fieldset>
  <legend>Interact with source</legend>
	 <form id="proxy@sourceId" action="@routes.Proxy.forwardById(sourceId, "")">
	 	 <select class="span2" id="method@sourceId" name="method" >
   		<option value="GET" selected="selected">GET</option>
    	<option value="POST">POST</option>
    	<option value="PUT">PUT</option>
    	<option value="DELETE">DELETE</option>
		 </select>
		 <input class="span4" type="text" id="arguments@sourceId" name="arguments" placeholder="arguments" />
     <input class="span4" type="text" id="body@sourceId" name="body" placeholder="body" />
     <input class="span1 btn btn-primary" type="submit" name="send" id="send@sourceId" value="Send">
   	 <img class="span1" id="ajax_wait@sourceId" src="@routes.Assets.at("images/ajax_wait.gif")" height="20" align="top" style="display: none"></img>
	 </form>
	</fieldset>
	<div id="response@sourceId" style="display: none">
		<div class="span2"><a id="hide@sourceId" href="#" class="icon-remove btn-icon"></a>&nbsp
		<span id="response1@sourceId"></span></div>
	  <textarea class="span10" id="response2@sourceId" name="response2@sourceId" wrap="soft"></textarea>
	</div>
		</div>    

     <script type="text/javascript">
	  $('#proxy@sourceId').submit(function() {
	    var method = $("select#method@sourceId").val();
	    var arguments = $("input#arguments@sourceId").val();
	    var url = "@routes.Proxy.forwardById(sourceId, "")" + arguments;
	    var body = $("input#body@sourceId").val();
	    $("#ajax_wait@sourceId").show(); //css("visibility","visible");
	    $.ajax({
	    	  url: url,
	    	  context: document.body,
	    	  timeout: @Proxy.REQUEST_TIMEOUT,
	    	  type: method,
	    	  data: body,
	    	  contentType: "text/plain",
    	    error: function(x, t, m) {
    	    	$("#response1@sourceId").html("Error");
    	    	$("#response2@sourceId").text(m);
            $("#response@sourceId").show();
    	    	$("#ajax_wait@sourceId").hide();//.css("visibility","hidden");
    	    },
    	    success: function(response) {
    	    	$("#response1@sourceId").html("Response");
            $("#response2@sourceId").text(response);
            $("#response@sourceId").show();
            $("#ajax_wait@sourceId").hide();//.css("visibility","hidden");
           }
	    	});
	    			    
	    return false;
	  });
	  
	  $('#hide@sourceId').click(function() {
		  $("#response@sourceId").hide();              
	      return false;
	    });
	  
	  </script>
	}
}

@streamParserGroupLabels(className: String = "") = {
<div class="row-fluid @className controls controls-row">
<label class="span3">Stream path</label>
<label class="span3">Parser (Regex/JSON path)</label>
<label class="span3">Date/Time format</label>
<label class="span2">MIME type</label>
</div>
}

@streamParserGroup(field: Field, className: String = "", modifyStreamPath: Boolean = true, deleteParser: Boolean = false) = {
<div class="row-fluid parser controls controls-row @className" parserId="@{field("parserId").value}">
<input type="hidden" id="@field("parserId").id" name="@field("parserId").name" value="@field("parserId").value" readonly="readonly" size="0">
<input class="span3" type="text" required id="@field("vfilePath").id" name="@field("vfilePath").name" value="@field("vfilePath").value" placeholder="Stream path" @if(!modifyStreamPath){ readonly="readonly" } else { placeholder="Stream path"}>
<input class="span3" type="text" id="@field("inputParser").id" name="@field("inputParser").name" value="@field("inputParser").value" placeholder="Input parser">
<input class="span3" type="text" id="@field("timeformat").id" name="@field("timeformat").name" value="@field("timeformat").value" placeholder="EEE MMM dd kk:mm:ss z yyyy">
  <select class="span2" id="@field("inputType").id" name="@field("inputType").name" selected="@field("inputType").value">
  	<option value=""></option>
		<option value="application/json" @if(field("inputType").value.toString.contains("json")){selected="selected"}>application/json</option>
    <option value="text/plain" @if(field("inputType").value.toString.contains("text")){ selected="selected" }>text/plain</option>
  </select>
	<i class="removeParser btn-icon icon-trash pull-right" delete="false" @if(deleteParser){parserId="@{field("parserId").value}"}else{parserId="-1"}></i>
@*<input type="text" id="@field("inputType").id" name="@field("inputType").name" value="@field("inputType").value" placeholder="Input type">*@
</div>
}

@layout("Manage", session) {

    <!-- Docs nav
    ================================================== -->
    <div class="row-fluid">
      <div class="span2 bs-docs-sidebar">
			 
			@manage.navigationMenu(sources) 
			@**
			should pass theses parameters(sources, extStreams)
			**@
      </div>
      <div class="span9">
 	      <!--Body content-->
	      <!-- TODO: handle errors-->
	      @if(myForm.hasErrors) {
	      <div class="alert-message error">
		      <p><strong>Oops</strong> Please fix all errors</p>
	      </div>
	      }
	      
  <h1>Configure '@myForm("label").value'</h1>

	@interactWithSource(myForm("id").value.toLong, myForm("pollingUrl").value)

	@helper.form(action = routes.CtrlSource.modify(myForm("id").value.toLong), 'id -> "modify_source_form") {
	      <fieldset>
		      <legend>Source parameters</legend>
					<div class="row-fluid controls controls-row">
						<label class="span3">Label</label>
						<label class="span5">Source URL</label>
						<label class="span2">Poll period (s)</label>
					</div>
					<div class="row-fluid controls controls-row">
						<input type="hidden" id="myForm("id").id" name="@myForm("id").name" value="@myForm("id").value" readonly="readonly" size="0">
						<input class="span3" type="text" required id="@myForm("label").id" name="@myForm("label").name" value="@myForm("label").value" placeholder="Source label">
						<input class="span7" type="url" id="@myForm("pollingUrl").id" name="@myForm("pollingUrl").name" value="@myForm("pollingUrl").value" placeholder="leave blank for POST">
						<input class="span2" type="number" id="@myForm("pollingPeriod").id" name="@myForm("pollingPeriod").name" value="@myForm("pollingPeriod").value" placeholder="120">
					</div>
					<div class="row-fluid controls controls-row">
						<label class="span12"><a href="/API">Post key</a> (keep secret!): </label>
					</div>
					<div class="row-fluid controls controls-row">
						<input class="span12" type="text" id="@myForm("key").id" name="@myForm("key").name" value="@myForm("key").value" readonly="readonly">
					</div>
	      </fieldset>

	      <fieldset>
		      <legend>Stream Parsers</legend>
		      <div id="parsers" sourceId="@myForm("id").value">
						@streamParserGroupLabels()
			      @repeat(myForm("streamParserWrapers"), min=0) { spw =>
			        @streamParserGroup(spw, className="", modifyStreamPath=false, deleteParser=true)
			      }

			      @**
			      * Keep an hidden block that will be used as template for Javascript copy code
			      **@
						<div class="parsers_template">
			      	@streamParserGroup( myForm("streamParserWrapers[x]"), className = "", modifyStreamPath=true, deleteParser=false )
			      </div>
		      </div>
	      </fieldset>

				<br />

	      <div class="actions">				      
					<a class="addParser btn btn-success">Add another stream parser</a> &nbsp;
		      <input type="submit" class="btn btn-primary" name="update" id="updateSource" value="Update"> &nbsp;

		      <a href="@routes.CtrlSource.sources()" class="btn">Cancel</a>
	      </div>
  			<br />
				<a href="@routes.CtrlSource.delete(myForm("id").value.toLong)" class="btn btn-danger">Delete source</a>
  }
	<!-- end modify source-->
  </div>
</div>
}
