@(streams : List[Stream], stream: Stream, myForm: Form[Stream], message: String="")

@import helper._
@streamPath=@{
if(stream.file != null && stream.file.getPath() != null) {
stream.file.getPath()
} else {
"ID: "+stream.id
}
}

@streamParentPath=@{
if(stream.file != null) {
stream.file.getParentPath()
} else {
"/"
}
}

@layout("Streams", message, session) {

<!--
		<ul class="breadcrumb">
  <li><a href="#">Streams</a> <span class="divider">&gt;</span></li>
  <li class="active">@stream.file.getPath()</li>
	</ul>
	-->

    <!-- Docs nav
    ================================================== -->
	<div class="row-fluid">
		<div class="span2 bs-docs-sidebar"> 
			 <div style="position:fixed;" >
				@if( stream.canWrite(Secured.getCurrentUser()) ) {
				<span  class="btn-group">	
					<button type="submit" name="update" class="btn btn-primary" id="updateStream" form="streamFormId"><i class="icon-ok icon-white"></i> Save</button>
					<a href="@routes.Application.streams()" class="btn"><i class="icon-remove"></i></a>
	      </span>
				}
				@if(streams.length > 0) {
				<h4>Streams</h4>
					<div id="vfileTree">
						<ul>
						@Html(FileSystem.listHTMLFileSystem(Secured.getCurrentUser()))
						</ul>
					</div>
				} else {}
			</div>
  </div>
	<div id="mainPane" class="span9">
	@vstream.viewStreamMainDiv(streams, stream, myForm, message)
  </div>
</div>
	
}
