@(streams : List[Stream])

@import helper._

@layout("Streams", session) {

    <!-- Docs nav
    ================================================== -->
	<div class="row">
		<div class="span2 bs-docs-sidebar">
		<br \><br \><br \>

		<a>Streams tree</a>
		<div id="vfileTree">
				@if(streams.length > 0) {
					<ul>
					@Html(FileSystem.listHTMLFileSystem(Secured.getCurrentUser()))
					</ul>
				} else {
					<li><a>No streams exist</a></li>
				}
		</div>
  </div>

  <div class="span9">
		<br \>
		<!--Body content-->
		<!-- Stream listing and visualizing -->
		@if(streams.length > 0) {
			<h1>Your streams</h1>
			@for(stream <- streams) {					
				<br />
				@vstream.includeStream(stream)
				<br />
			}
		}
		<br /> <br />
	
    </div>
  </div>

}
