@(resource: Resource, owned: Boolean, endPoint: EndPoint, user: User) 

@import helper._

  <h1>Resource</h1>

  <dl>
  <dt>Full path</dt>
  <dd>@user.userName/@endPoint.label@resource.path  @vresource.followIcon(resource, "r")</dd>
  <dt>User</dt>
  <dd>@user.userName</dd>
    <dl>
    <dt>End point</dt>
    <dd><a href="@routes.CtrlEndPoint.get(endPoint.id)">@endPoint.label</a></dd>
    <dt>Path</dt>
    <dd>@resource.path</dd>
    @if(!resource.inputParser.equals("")) {
    <dt>Input parser</dt>
    <dd>@resource.inputParser</dd>
    }
    @if(resource.pollingPeriod > 0) {
    <dt>Polling interval</dt>
  <dd>@{resource.pollingPeriod/60} minutes</dd>
  }
  @if(resource.lastPolled > 0) {
  <dt>Last polled</dt>
  <dd>@{(controllers.Utils.currentTime()-resource.lastPolled)/60} minutes ago</dd>
  }
  @if(resource.lastUpdated > 0) {
  <dt>Last updated</dt>
  <dd>@{(controllers.Utils.currentTime()-resource.lastUpdated)/60} minutes ago</dd>
  }
  @if(endPoint.hasUrl()) {
	  @form(routes.CtrlResource.setPeriod(resource.id,0)) {
	    <dt class="action">Enter polling interval</dt>
        <dd>  
          <input input type="hidden" name="id" value="@resource.id" />
          <input input type="number" name="period" required placeholder="Period" class="input" size="4" style="text-align:right;"/>
          <input type="submit" value="Ok" class="buttonG"/>
        </dd>
      }
  }
  @form(routes.CtrlResource.setInputParser(resource.id,"")) {
	    <dt class="action">Set input parser (regexp)</dt>
        <dd>  
          <input input type="hidden" name="id" value="@resource.id" />
          <input input type="string" name="parser" required placeholder="Parser" class="input" size="4" style="text-align:right;"/>
          <input type="submit" value="Ok" class="buttonG"/>
          (<a href="http://regexpal.com/">regexpal.com</a> is useful!)
        </dd>
        }
  </dl>
