@(endPoint: EndPoint, epForm: Form[EndPoint], owned: Boolean)

@import helper._

@layout(endPoint.label, session) {
  
  <h1>End Point</h1>
  
  <dl>
  <dt>Full path</dt>
  <dd>@endPoint.getUser().userName/@endPoint.label  @vendpoint.followIcon(endPoint, "ep")</dd>
  </dl>
  
  @if(owned) {
	  @if(epForm != null) {
	    <span class="logged"><a href="@routes.CtrlEndPoint.get(endPoint.id)">[Cancel]</a></span>
	  } else {
	    <span class="logged"><a href="@routes.CtrlEndPoint.edit(endPoint.id)">[Edit]</a></span>
	  }
	}

  @forms.form(routes.CtrlEndPoint.submit(endPoint.id)) {
      <dt>User</dt>
      <dd>@endPoint.getUser().userName</dd>
      @forms.input(epForm!=null, "text", "label", "Label", endPoint.label)
      @forms.input(epForm!=null, "url", "url", "URL", endPoint.url)
      @forms.input(epForm!=null, "text", "description", "Description", endPoint.description)
      @forms.input(epForm!=null, "text", "location", "Location", endPoint.location)
      @if(epForm!=null) { @forms.submit(epForm!=null, "Update") }
  }
  
  @if(owned) {
      <dl>
      @forms.form(routes.CtrlEndPoint.addResource(endPoint.id)) {
        <dt class="action">Add resource</dt>
        <dd>  
          <input input type="text" name="path" required placeholder="path" class="input" size="8"/>
          <input type="submit" value="Ok" class="buttonG"/>
        </dd>
      }
      @if(endPoint.hasUrl()) {
        <dt class="action">Discover resources</dt>
        <dd><a href="@routes.CtrlEndPoint.discover(endPoint.id)" class="update">[discover]</a></dd>
      }
      <dt class="action">Delete end point</dt>
      <dd><a href="@routes.CtrlEndPoint.delete(endPoint.id)" class="delete">[delete]</a></dd>
      </dl>
	}

  @vresource.list{<h1>Resource manager</h1>}(Resource.getByEndPoint(endPoint), owned)
  
  @vresource.listStreams{<h1>Resources</h1>}(Resource.getByEndPoint(endPoint))

}
