@(resources : List[Resource])
@** 
Should take these parameters
@(resources : List[Resource], extStreams : List[Stream], operators : List[Operator]) 
**@				
				<br /> <br /> <br /> 
				@if(resources.length > 0) {
				<h4>Resources</h4>
        <ul class="nav nav-list bs-docs-sidenav">
					<ul id="sourcelist">
						@for(resource<- resources) {
							<li><a href="@routes.CtrlResource.getById(resource.id)"></i>@resource.label</a></li>
					 	} 
					</ul>
					<br />
					</li>
					<!--
					<li><a href="#"><u>External Streams</u></a>
					<ul id="extStreams">
						<li><a href="#"></i>Add friend's streams</a></li>
					</ul>
					</li>
					-->
        </ul>
				}
