@(sources : List[Source])
@** 
Should take these parameters
@(sources : List[Source], extStreams : List[Stream], operators : List[Operator]) 
**@				
				<br /> <br /> <br /> 
        <ul class="nav nav-list bs-docs-sidenav">
					<li><a href="#" onClick="document.getElementById('sourcelist').style.display="none";"><i class="icon-chevron-right"></i>Sources</a>
					<ul id="sourcelist">
						@for(source<- sources) {
							<li><a href="/sources/@source.id"></i>@source.id</a></li>
					 	} 
						<li><a href="#"></i>FakeSource1</a></li>
					</ul>
					</li>
					<li><a href="#"><i class="icon-chevron-right"></i>External Streams</a>
					<ul id="extStreams">
						<li><a href="#"></i>Fake External Stream1</a></li>
						<li><a href="#"></i>Fake External Stream2</a></li>
					</ul>
					</li>
        </ul>
