@** 
Should take these parameters
@(sources : List[Source], extStreams : List[Stream], operators : List[Operator]) 
**@				
				<br /> <br /> <br /> 
        <ul class="nav nav-list bs-docs-sidenav">
					<li><a href="#" onClick="document.getElementById('sourcelist').style.display="none";"><i class="icon-chevron-right"></i>Sources</a>
					<ul id="sourcelist">
						<li><a href="#"></i>Source1</a></li>
						<li><a href="#"></i>Source2</a></li>
						@**	scala template comment
						@for(source<- sources) {
							<li><a href="#"></i>@source.name</a></li>
					 	} 
						**@
					</ul>
					</li>
					<li><a href="#"><i class="icon-chevron-right"></i>External Streams</a>
					<ul id="extStreams">
						<li><a href="#"></i>Stream1</a></li>
						<li><a href="#"></i>Stream2</a></li>
					</ul>
					</li>
					<li><a href="#"><i class="icon-chevron-right"></i>Operators</a>
					<ul id="operators">
						<li><a href="#"></i>Sum</a></li>
						<li><a href="#"></i>Max</a></li>
					</ul>
					</li>
        </ul>