@(resource: Resource, owned: Boolean)

@import helper._

@displayResource(endPoint: EndPoint) = {
 
  @if(owned) {    
	  @if(endPoint.url!="") {
	    @form(routes.CtrlResource.setPeriod(resource.id,0)) {
	      <dl>
	      <dt class="action">Enter polling interval</dt>
	      <dd>  
  	      <input input type="hidden" name="id" value="@resource.id" />
	        <input input type="number" name="period" required placeholder="Period" class="input" size="4" style="text-align:right;"/>
	        <input type="submit" value="Ok" class="buttonG"/>
	      </dd>
	      </dl>
      }
    }
	}
	    
      <dl>
      <dt class="action">Send REST request</dt>
      <dd>
        <form id="proxy@resource.id" action="@routes.Proxy.forwardById(resource.id)">
	       <select id="method@resource.id" name="method">
           <option value="GET">GET</option>
           <option value="POST">POST</option>
           <option value="PUT">PUT</option>
           <option value="DELETE">DELETE</option>
         </select>
         <input input type="text" id="body@resource.id" name="body" size="8"/>
         <input type="submit" value="Send" class="buttonG"/>
        </form>
        <img id="ajax_wait@resource.id" src="@routes.Assets.at("images/ajax_wait.gif")" height="20" align="top" style="visibility:hidden;"></img>
        <span id="response@resource.id"></span>
      </dd>
       </dl>
     
     <script type="text/javascript">
	  $('#proxy@resource.id').submit(function() {
	    var method = $("select#method@resource.id").val();
	    var body = $("input#body@resource.id").val();
	    $("#ajax_wait@resource.id").css("visibility","visible");
	    $.ajax({
	    	  url: "@routes.Proxy.forwardById(resource.id)",
	    	  context: document.body,
	    	  timeout: 1000,
	    	  type: method,
	    	  data: body,
	    	  contentType: "text/plain",
    	    error: function(x, t, m) {
    	    	$("#response@resource.id").html("Error: <code>" + m + "</code>");
    	    	$("#ajax_wait@resource.id").css("visibility","hidden");
    	    },
    	    success: function(response) {
            $("#response@resource.id").html("Response: <code>" + response + "</code>");
            $("#ajax_wait@resource.id").css("visibility","hidden");
           }
	    	});
	    			    
	    return false;
	  });
	  </script>
}

@displayResource(resource.getEndPoint())
