@(stream: Stream, prefix: String)
 
@if(!CtrlUser.getUser().isfollowingStream(stream)) {
  <a class="btn btn-small follow_stream" data-parent_id="@stream.id" id="followr@prefix@stream.id" href="#" rel="tooltip" title="Follow" inactive_title="Stop following"><i class="icon-star"></i></a>
} else {
  <a class="btn btn-small btn-success disabled unfollow_stream" data-parent_id="@stream.id" id="unfollowr@prefix@stream.id" href="#" rel="tooltip" title="Stop following" inactive_title="Follow"><i class="icon-star"></i></a>
}
