@(stream: Stream)

@WIN_5M() = {5*60*1000}
@WIN_30M() = {30*60*1000}
@WIN_1H() = {60*60*1000}
@WIN_1D() = {24*60*60*1000}
@WIN_1W() = {7*24*60*60*1000}
@WIN_1M() = {30*24*60*60*1000}
@WIN_1Y() = {365*24*60*60*1000}
@if(stream != null) {
<div id="streamblock@{stream.id}" >
@if(stream.hasData()) {
  
	<span id="streamconfig@{stream.id}" class="streamconfig form-inline">
	    <input type="radio" name="streamwindow@{stream.id}" value="@WIN_5M" id="streamwindow@{stream.id}-1"><label for="streamwindow@{stream.id}-1">5min</label>
	    <input type="radio" name="streamwindow@{stream.id}" value="@WIN_30M" id="streamwindow@{stream.id}-2"><label for="streamwindow@{stream.id}-2">30min</label>
	    <input type="radio" name="streamwindow@{stream.id}" value="@WIN_1H" id="streamwindow@{stream.id}-3"><label for="streamwindow@{stream.id}-3">1h</label>
	    <input type="radio" name="streamwindow@{stream.id}" value="@WIN_1D" id="streamwindow@{stream.id}-4"><label for="streamwindow@{stream.id}-4">1d</label>
	    <input type="radio" name="streamwindow@{stream.id}" value="@WIN_1W" id="streamwindow@{stream.id}-5"><label for="streamwindow@{stream.id}-5">1w</label>
	    <input type="radio" name="streamwindow@{stream.id}" value="@WIN_1M" id="streamwindow@{stream.id}-6"><label for="streamwindow@{stream.id}-6">1m</label>
	    <input type="radio" name="streamwindow@{stream.id}" value="@WIN_1Y" id="streamwindow@{stream.id}-7"><label for="streamwindow@{stream.id}-7">1y</label>
	</span>
	<div id="streamtitle@{stream.id}" class="streamtitle">
		<a name="@{stream.file.getPath()}"></a>
		Stream 
		<a herf="" data-toggle="tooltip" title="id : @{stream.id}">@if(stream.file != null) {@stream.file.getPath()} else {id: @{stream.id}}</a>
		@if(stream.source != null && stream.canWrite(Secured.getCurrentUser())) {
			(<a href="/sources/@{stream.source.id}">@{stream.source.label}</a>)
		}
		@vstream.streamToolbar(stream, stream.canWrite(Secured.getCurrentUser()), false, stream.publicAccess)
	</div>
<div style="background-color='#333'; border 1px solid black;">
	Key: <i>@stream.showKey(Secured.getCurrentUser())</i>
</div>
	<div class="plot-container">
		<div class="row-fluid">
      <div class="span9">
				<div id="streamplot@{stream.id}" stream_id="@{stream.id}" class="streamplot"></div>
			</div>
			<div class="span3">
				<div id="overview@{stream.id}" stream_id="@{stream.id}" class="streamplot_overview"></div>
			</div>
		</div>
	</div>
	<script type="text/javascript">



		// one global JavaScript object per stream
		var streamplot@{stream.id} = new Object();
		streamplot@{stream.id}.stream_id = '@{stream.id}';
		streamplot@{stream.id}.id = 'streamplot@{stream.id}';
		streamplot@{stream.id}.uri = '@{routes.CtrlSource.getDataById(stream.id)}';
		streamplot@{stream.id}.path = '@{stream.file.getPath()}'; // for parsing the returned JSON
		streamplot@{stream.id}.window = @WIN_1D; // in ms
		streamplot@{stream.id}.since = parseInt(((new Date()).getTime() - streamplot@{stream.id}.window)); // in s for database
		streamplot@{stream.id}.points = [];
		streamplot@{stream.id}.timeout = null;
		//streamplot@{stream.id}.overview = new Object();
		//streamplot@{stream.id}.overview.plotID = @{stream.id};
		$(function () {
			// init Flot plot
			streamplot@{stream.id}.plot = $.plot($("#streamplot@{stream.id}"), [ streamplot@{stream.id}.points ], StreamPlots.options);
			streamplot@{stream.id}.overview = $.plot($("#overview@{stream.id}"), [ streamplot@{stream.id}.points ], StreamPlots.overview_options);
			
			// setup config form
			$("input:radio[name='streamwindow@{stream.id}']").filter('[value="@WIN_1D"]').attr('checked', true);
			$("input:radio[name='streamwindow@{stream.id}']").change( function(){
				StreamPlots.setWindow(streamplot@{stream.id}, eval($("input:radio[name='streamwindow@{stream.id}']:checked").val()) ); });
			StreamPlots.setup(streamplot@{stream.id});
			// start polling
			StreamPlots.poll(streamplot@{stream.id});
		});
	</script>
	} else {
		<div id="streamtitle@{stream.id}" class="streamtitle">
			Data stream 
			<a herf="">@if(stream.file != null) {@stream.file.getPath()} else {id: @{stream.id}}</a>
			@vstream.streamToolbar(stream, stream.canWrite(Secured.getCurrentUser()), false, stream.publicAccess)
		</div>
		<div>
		Key: <i>@stream.showKey(Secured.getCurrentUser())</i>
	</div>	
		&nbsp;No data
	}
	</div>
}
