@(stream: Stream, own: Boolean, shared: Boolean, publicAccess: Boolean)
@import helper._
	
@if(own || shared || publicAccess) {
		@**
		<!-- display stream plot -->
		<span class="dropdown-submenu">
	    <a class="icon-btn icon-zoom-in" tabindex="-1" href="#" rel="tooltip" title="Display"></a>
	    <ul class="dropdown-menu">
	   	<!-- displayStream dropdown menu -->
		  @vstream.includeStream(stream)
	    </ul>
	  </span>
		
	 @if(stream.lastUpdated > 0) {
		<span class="sideinfo">[Last update: @Utils.timeStr(stream.lastUpdated)]</span>
		} else {
		<span class="sideinfo">[Never]</span>
		}
	**@
	<span>
	
	@vstream.followIcon(stream, "rlist_toolbar")
	
	@if(own) {
		 <a class="icon-btn icon-trash deleteStreamButton" parent_id="@stream.id" rel="tooltip" title="Delete"></a>
		 <a class="icon-btn icon-remove-sign clearStreamButton" parent_id="@stream.id" rel="tooltip" title="Clear"></a>
		 @**
		 @if(stream.hasData()) {
	     <a class="icon-btn icon-remove-sign delete" parent_id="@stream.id" rel="tooltip" title="Clear"></a>
	   } else {
	   	 <a class="icon-btn icon-remove-sign icon-white delete" parent_id="@stream.id" rel="tooltip" title="Clear"></a>
	   }
	   **@
	   
    <!-- 		 publicAccessIcon -->
 		@if(!stream.publicAccess) {
		  <a class="icon-btn icon-globe icon-white set_public_access_stream" parent_id="@stream.id" href="#" rel="tooltip" title="Make public" inactive_title="Hide from the public"></a>
		} else {
		  <a class="icon-btn icon-globe remove_public_access_stream" parent_id="@stream.id" href="#" rel="tooltip" title="Hide from the public" inactive_title="Make public"></a>
		}
		
		<!-- 		 publicSearchIcon -->
 		@if(!stream.publicSearch) {
		  <a class="icon-btn icon-eye-open icon-white set_public_search_stream" parent_id="@stream.id" href="#" rel="tooltip" title="Make searchable" inactive_title="Hide from search"></a>
		} else {
		  <a class="icon-btn icon-eye-open remove_public_search_stream" parent_id="@stream.id" href="#" rel="tooltip" title="Hide from search" inactive_title="Make searchable"></a>
		}  
	 }
	 </span>
 }

